[2020-05-03 19:20] romainl opened #1 "Define a mission"

[2020-05-03 19:20] romainl opened #2 "Define roles"

[2020-05-03 19:20] romainl opened #3 "Create a PR template"
Reference: https://help.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository

[2020-05-03 19:20] romainl opened #4 "Create an issue template"
Reference: https://help.github.com/en/github/building-a-strong-community/configuring-issue-templates-for-your-repository

[2020-05-03 19:20] romainl opened #5 "Bootstrap the wiki with useful resources:"
- [ ] templates
- [ ] guidelines
- [ ] online tools

[2020-05-03 21:53] romainl opened #6 "Define guidelines"
Colorschemes can be grouped according to several criteria:

* light background versus dark background
* low contrast versus high contrast
* 16color versus 88color versus 256color versus true colors
* dumb versus smart
* basic versus exhaustive
* colourblind-friendly versus colourblind-hostile
* etc.

We can have several approaches:

* come up with a representative and balanced collection
* favour

[2020-05-04 16:31] romainl commented on #6
IMO:

* backward compatibility is a must-have: all colorschemes should "work" in all conditions,
* all colorschemes should work out-of-the-box and require no further tweaking,
* at least a couple of colorschemes should be explicitly colourblind-friendly,
* all colorschemes should follow a set of *practical* best practices that we should define.

[2020-05-04 18:58] gagbo commented on #6
Maybe you can make a "quick and dirty" tag system, where you have multiple `md` files (one per theme in the list in the first post) and list the themes currently added with their category (the md would contain only 2 headings and links).

Since you're starting from scratch you can impose it on every new PR, and if *someone* really wants to have color themes with only xterm 256-color palette ([tota

[2020-05-04 20:37] romainl commented on #6
I think we can use the labelling system for that.

[2020-05-05 20:43] xero commented on #1
im curious of the end game. is this going to be a supplemental to vim, or the new offical color schemes collection distributed with the core?

either way, im excited to help

[2020-05-05 21:34] romainl commented on #1
The end game is to refresh the default lineup with a selection of "new" colorschemes like your sourcerer or my apprentice ;-).

There are a few things to figure out, though, before we open a proper "call for colorschemes", some of them being listed above.

Beside introducing more third-party colorschemes, I would also like to modernise the current collection so that we don't end up with an unbalan

[2020-05-05 21:42] xero commented on #1
i was also thinking about what constitutes a "good enough" theme. i would assume support for both console and gui versions. what about extent? is the plan to only support core vim highlight groups or will submissions with a wider array of support for plugins going to be allowed as well?

[2020-05-05 21:47] lifepillar commented on #1
Thanks for taking care of this!

My two cents on some of the points you raise:

I'd say no. Perhaps, deprecate those color schemes that do not have an active maintainer. Keeping a color scheme in Vim's distribution is cheap, after all.

I had reworked the current color schemes several months ago: https://github.com/lifepillar/vim8-colorschemes. Depending on the direction that is taken regarding ho

[2020-05-05 21:49] romainl commented on #1
@xero In my opinion, built-in colorschemes should work equally well wherever Vim works so they should cover everything from 16color to GUI. As for support for plugins, there are unsolved issues with linking that may make it a bit complicated.

[2020-05-05 21:53] romainl commented on #1
@lifepillar thank you for commenting. I think we are in agreement on every point.

My criteria:

1. compatibility
2. simplicity
3. performance
4. accessibility

[2020-05-05 22:07] gagbo commented on #1
I'm looking forward to "Gravbux" and "Silorized" :D

About accessibility, an emacs user created a colorscheme where his 1st priority was to be compliant with the highest level of accessibility WCAG AAA which he interpreted as making sure that the contrast between any foreground color and background color is always at least 7:1 (you can check contrast [here](https://webaim.org/resources/contrastche

[2020-05-07 06:32] arzg opened #7 "Broken link"
The link ‘[The xterm palette](https://upload.wikimedia.org/wikipedia/en/1/15/Xterm_256color_chart.svg)’, found on the wiki’s Resources page, is broken. I see this message:

[2020-05-07 06:55] romainl commented on #7
Thank you. It should work, now.

[2020-05-07 06:55] #7 closed

[2020-05-10 08:26] romainl opened #8 "Figure out how to get the chosen colorschemes into Vim"
Once consensus is reached on a set of colorschemes, how are we supposed to merge them into Vim's tree?

[2020-05-10 08:31] romainl commented on #6
Here are the tags I can think of:

- dark background
- light background
- high contrast
- low contrast
- 16color-ready
- 88color-ready
- 256color-ready
- true colors-ready
- suitable for TUI
- suitable for GUI
- colorblind-friendly

Is there something missing?

[2020-05-10 08:40] romainl commented on #6
I think it is not unreasonable to try to offer:

- a full line-up of colorschemes that support everything from 16color to true colors,
- an equal number of "dark" and "light" colorschemes,
- an equal number of "low contrast" and "high contrast" colorschemes,
- at least one "dark" *and* "high contrast" colorscheme that is also "colorblind-friendly",
- at least one "light" *and* "high contrast" colo

[2020-05-10 09:02] romainl commented on #1
I think lifepillar/vim-colortemplate is a better fit as it could eventually be bundled with Vim itself.

As I see it, none of today's most popular colorschemes satisfies the (emergent) list of requirements. This means that their authors will have to switch to our "officially recommended" templating tool anyway. It sounds daunting and restrictive but I believe that a uniform UX will help improve th

[2020-05-10 10:04] gagbo commented on #6
The saturation in the colors gives a different feel too :

Big saturation in the colors feel like looking at a rainbow, while low saturation is like looking at a grayscale scheme (you can still have low sat / high contrast - like [apprentice](https://github.com/romainl/Apprentice) | low sat / low contrast - like gray on white | high sat / low contrast - like [gruvbox light soft variant](https://ca

[2020-05-10 10:11] romainl commented on #6
@gagbo good points, adding saturation to the list.

[2020-06-07 17:31] sheerun commented on #6
I think:

1. All schemes should support both background=light and background=dark (so one can easily switch between daytime vim scheme and nighttime vim scheme)
2. All themes should have good (not high) contrast so they are readable and accessible for most people. Then there can be few themes with high contrast for few people who need it
3. All themes should work in 256 colors with gui colors conf

[2020-06-07 17:32] sheerun commented on #8
probably they can be exteracted either from https://vimcolors.com/ or vscode themes

[2020-06-07 17:32] sheerun commented on #5
I'd put everything in repository, either in README, or in separate files

[2020-06-07 17:51] romainl commented on #6
This is a heavy requirement. I don't like it because:

- it makes the design process more complex and more difficult,
- it makes the colorschemes themselves more complex and thus more brittle,
- it subverts the meaning of `:help 'background'`.

I think we should try this distribution:

- a few low contrast colorschemes,
- many "normal" contrast colorschemes,
- a few high contrast colorschemes.

Ag

[2020-06-07 17:54] romainl commented on #8
@sheerun, I'm sorry, I should have added a description.

[2020-06-07 17:57] romainl commented on #5
@sheerun I tend to agree but the wiki seems more accessible to me. Besides, we will probably have to make pull requests to the main repo at some point and it doesn't seem wise to pollute it beyond what's strictly necessary.

[2020-06-07 19:50] sheerun commented on #6
The docs on background say:

	setting 'background' will cause the color scheme to be reloaded.  If
	the color scheme adjusts to the value of 'background' this will work.
	However, if the color scheme sets 'background' itself the effect may
	be undone.

and:

	color from the terminal.  If the returned RGB value is dark/light and
	'background' is not dark/light, 'background' will be set and the
	scr

[2020-06-07 23:39] arzg commented on #6
Conversely:

[2020-06-08 06:02] gagbo commented on #6
For me it makes no sense to force each theme to have a light and dark variant. You can also keep small and lean color files, and ask the users to actually type `:colorscheme what-i-want` when they want to change.

I don't use Vim that much these days, but as a random theme maker, I can tell that "having to" build 2 palettes is just going to end up with one side being a lot worse and with a lot les

[2020-06-08 07:30] romainl commented on #6
@sheerun the only purpose of `&background` is to expose how Vim's flawed algorithm thinks the background of the host terminal looks so that Vim chooses its default colours accordingly. Using it to get a "dark" or "light" colorscheme subverts its purpose.

`:colo foo_dark` and `:colo foo_light` have the same intended effect as the all-too-common `:set bg=dark`/`:set bg=light` hack, but:

* they are

[2020-06-09 17:02] neutaaaaan commented on #6
@sheerun

This is nearly impossible to achieve, the exploitable dynamic range on a light background is extremely limited compared to a dark background.
You can either have an unreadable light version that feels coherent, or two versions that diverge so much they should probably be split into 2 different themes.

This is the best I could come up with when I tried to come up with a light version of

[2020-06-09 17:44] sheerun commented on #6
Then maybe for each theme we could somehow designate opposite-color version, even if it's another theme

[2020-06-09 18:20] neutaaaaan commented on #6
Honestly, I don't see what the point of arbitrarily associating different themes would be.

Providing *useable* full-featured low contrast and high saturation light background themes doesn't seem like a possibility to me, especially if we have to pluck the colours out of the xterm palette.
We'd be better off acknowledging that and aiming for things that we know work, even if that means shipping 2

[2020-06-09 18:27] sheerun commented on #6
Okay I guess. So making things concrete what about:

- 2 high contrast dark themes
- 6 normal contrast dark themes
- 2 low contrast dark themes
- 2 high contrast light themes
- 6 normal contrast light themes
- 2 low contrast light themes

So total of 20 themes in which 10 light, 10 dark, 12 normal contrast, 4 high contrast, 4 low contrast

[2020-06-09 19:51] romainl commented on #6
@neutaaaaan all good point.

@sheerun, the exact numbers can't really be set in stone at the moment but those proportions—or something close—seem okay-ish to me. The actual numbers and proportions will, in fine, depend on the proposals we get, though.

[2020-06-10 10:12] neutaaaaan commented on #6
I've thought about it some more, this is going to be a pretty long :

**Complete backwards compatibility is unrealistic.**
Italicized characters cannot be expected to work in a terminal, at all.
It's not part of the featureset of a vt100, there are still botched vt220 emulators or pretend-xterm-clones that get it wrong, GNU Screen doesn't even interpret the escape sequence properly, I've had to ha

[2020-06-10 10:56] romainl commented on #6
@neutaaaaan

My opinion is that the default colorschemes *shouldn't break*, no matter where you use them. "Shouldn't break" is not the same as "works" or "works perfectly in the most optimal way", though.

Italics are indeed not universally available. Falling back to "normal" would probably be acceptable but falling back to "reverse", for example, would break the colorscheme. I would like to test

[2020-06-10 11:57] neutaaaaan commented on #6
@romainl

My own version of "shouldn't break" is "will always meet some specified baseline behaviour no matter what".
The only reliable way to do that is to forego features that can't be expected to exist everywhere.
To me the only point of shipping, 16c and 88c themes with vim is to soothe the pain of the poor sods working on boxes they cannot update or don't have privileges on : if they could he

[2020-06-10 20:06] romainl opened #9 "Remake zellner.vim"

[2020-06-10 20:06] romainl opened #10 "Remake torte.vim"

[2020-06-10 20:06] romainl opened #11 "Remake slate.vim"

[2020-06-10 20:06] romainl opened #12 "Remake shine.vim"

[2020-06-10 20:06] romainl opened #13 "Remake ron.vim"

[2020-06-10 20:06] romainl opened #14 "Remake peachpuff.vim"

[2020-06-10 20:06] romainl opened #15 "Remake pablo.vim"

[2020-06-10 20:06] romainl opened #16 "Remake murphy.vim"

[2020-06-10 20:06] romainl opened #17 "Remake morning.vim"

[2020-06-10 20:07] romainl opened #18 "Remake koehler.vim"

[2020-06-10 20:07] romainl opened #19 "Remake industry.vim"

[2020-06-10 20:07] romainl opened #20 "Remake evening.vim"

[2020-06-10 20:07] romainl opened #21 "Remake elflord.vim"

[2020-06-10 20:07] romainl opened #22 "Remake desert.vim"

[2020-06-10 20:07] romainl opened #23 "Remake delek.vim"

[2020-06-10 20:07] romainl opened #24 "Remake darkblue.vim"

[2020-06-10 20:07] romainl opened #25 "Remake blue.vim"

[2020-06-12 12:01] lifepillar commented on #6
For those, one might define a single `dumb` color scheme supporting *only* dumb terminals and require any other color scheme to fall back to it, e.g., by including a snippet like this:

[code]

This would alleviate developers from the burden of supporting a corner case and would guarantee that any color scheme would not break in limited environments. Such `dumb` color scheme might even be put outs

[2020-06-12 12:10] lifepillar commented on #6
Other important guidelines, IMO, are those concerning filetype-specific and plugin-specific highlight groups. Currently, including them in a color scheme leads to buggy behaviour (at least, as perceived by users). On the other hand, users do want per-filetype or per-plugin customizations. Will this be addressed by Vim?

[2020-06-12 12:55] romainl commented on #6
* I like that `bulletproof.vim` idea.
* That italics detection method is flawed. `&t_ZH` returns `^[[7m`, here, when it should return `^[[3m`, and it may have different results elsewhere.
* As for the infamous filetype/plugin-specific highlighting bug. My opinion is that it should be fixed in Vim so that colorscheme maintainers could be confident about their product.

[2020-06-12 15:05] lifepillar commented on #6
What is “here”? Is it a Vim with `has('gui_running')` set? The following condition has worked in all the environments I have tried so far:

[code]

I am curious to know where it would fail.

[2020-06-12 16:37] benknoble commented on #6
What bug is being discussed? We do a bit of work to support specialized plugin/filetype distributions highlight groups over in dracula, but two simple options have always existed:

- For plugin authors, link a highlight group to one of the standard `:help highlight-groups` and stop worrying about it
- For consumers, add the support locally until it gets upstreamed:

[code]

I guess my point is may

[2020-06-12 17:27] romainl commented on #6
@lifepillar, the main problem with that test is that `^[[7m` is not the only possible value for `ZH`/`sitm`.

On this Mac with the latest ncurses installed (IIRC same for all the Macs I've had in the last 10 years so versions don't matter), Vim doesn't get an answer for `ZH` or `ZR` so it falls back to the values of `mr` and `me`, (reverse mode) which don't produce italics *at all*. On my three Ma

[2020-06-12 18:32] lifepillar commented on #6
@benknoble I am talking about this: https://github.com/vim/vim/issues/4405.

[2020-06-12 20:04] lifepillar commented on #6
@romainl If I understand correctly, the scenario you are describing would give rise to a *false negative*: in that case, the color scheme could just conservatively disable italics.

What would be problematic is a *false positive*, i.e., a situation in which the color scheme adds `italic` to some highlight groups when Vim displays `italic`, say, as reverse text.

I am not familiar enough with termi

[2020-06-13 08:23] romainl commented on #6
@lifepillar testing `&t_ZH` gives both false negatives *and* false positives. Simply put:

- an empty `&t_ZH` doesn't mean italics aren't supported,
- a non-empty `&t_ZH` doesn't mean italics are supported,
- the value of a non-empty `&t_ZH` can't be used blindly to output italics because it can be a fallback value for reverse mode.

For what it's worth…

- My terminal emulator is set to use `xter

[2020-06-13 11:15] neutaaaaan commented on #6
There's a sub-issue here, in that lots of terminal emulators pretend they're xterm, because a terminfo for xterm is virtually guaranteed to exist on every box their users might ssh into.

The problem is that they're not xterm, and this hack only works because of the common baseline vt100+ecma48 they share with xterm. Sneeze too hard and everything goes to hell.

I seem to remember that @romainl us

[2020-06-13 11:24] sheerun commented on #6
I think all most terms that support 256 colors have 256 in name, so we can detect it this way.

Given this discussion I certainly would not allow italics

[2020-06-13 11:26] romainl commented on #6
In this specific case, italics.

Agreed. Italics and broken-by-design tests are *somewhat* acceptable in third-party colorschemes not part of the distribution but too unpredictable to be in built-in colorschemes.

Alternatively: fix capabilities detection in Vim's core.

[2020-06-13 12:20] brammool commented on #6
This is indeed a nasty problem, especially for colorschemes.  Users
expect them to work without tweaking, and still work if they happen to
switch to another terminal.  Perhaps with some small color changes, but
not wil totally wrong colors.

I have moved the recognition of the terminal version response to the
handle_version_response() function.  And added the term_props[] array to
make it easier t

[2020-06-13 18:30] romainl commented on #6
@brammool AFAIK, the "definitive" resource about true colors is still https://gist.github.com/XVilka/8346728.

Currently reading ncurses's doc about RGB and setaf/setab.

[2020-06-14 11:52] brammool commented on #6
Hmm, the trick to set the color and then read it back seems the most
reliable.  It's similar to what we do for 'ambiwidth' and recently to
check if requesting the cursor properties work.

Would need to:
- request foreground & background color (like we already do)
- set color with RGB and colons
- request foreground & background color, check if it matches.
- set color with RGB and semicolons
- requ

[2020-06-14 19:57] romainl commented on #6
with semicolons work, it appears they work most widely, even though it's
not an official standard.

Testing for semicolons first, then colons, seems to make sense. Maybe after testing for `$COLORTERM`. I don't know which one is the most involved.

[2020-06-15 11:30] romainl commented on #6
Provisional requirements:

Every colorscheme…

- must be *fully functional* in GUI Vim and TUI Vim,
- must be *functional* in environments <= 256c,
- must *not depend* on scarcely supported features,
- must handle degradation *gracefully* when a used feature is not supported by the host environment,
- must handle *every* built-in highlight group.

A few problems are still pending, though:

- poor

[2020-06-15 12:04] sheerun commented on #6
I'd also vote to not use underline in any form. Current default vim theme does this for highlighting current line. Very annoying. Dimming / highlighting background color looks far better.

[2020-06-15 12:16] romainl commented on #6
Would this be OK?

- doesn't depend solely on typographic attributes (`underline`, `bold`) to provide meaning

[2020-06-15 12:18] sheerun commented on #6
I think so. Typography should be reserved for something like advanced markdown highlighting

[2020-06-15 13:37] neutaaaaan commented on #6
I do agree that bold and underline should only be used when we need to differentiate ui elements, autocompletion choices and so on, not used as part of syntax highlighting per se.
On the other hand, I disagree with changing the background colour as part of syntax highlighting, as I've never seen a dark theme in which it wasn't positively counterproductive, making the wrong things stand out, or mak

[2020-06-15 14:38] romainl commented on #6
@neutaaaaan…

I'm afraid a hard ban on `ctermbg` will be more difficult to sell than one on `underline`. But you have got a point and legibility will certainly be an important criteria when assessing submissions. One thing we can do, is making legibility a requirement, à la WCAG, and making it part of our tests.

About the 18 default colorschemes, they will be overhauled as part of this project so

[2020-06-15 19:32] benknoble commented on #6
@romainl from solarized, what are you thinking about (installation issues, support my fave plugin issues, or something else)? /just wondering

also, happy to help here as I can

[2020-06-15 19:44] neutaaaaan commented on #6
@benknoble Solarized is an incredibly brittle and overengineered mess, "sold" entirely on hype and pseudo-science, that hasn't been updated in a decade. It doesn't support truecolour, it's impossible to port to 256c, and it's single-handedly responsible for several % of vim-related posts online.

[2020-06-15 20:13] lifepillar commented on #6
I maintain a fork of Solarized that supports true colors, but I agree with you: Solarized has no place in Vim core.

[2020-06-16 06:37] romainl commented on #6
@benknoble, basically what @neutaaaaan and @lifepillar said: it is an abomination that shouldn't exist. Note that the colors themselves of the Vim colorscheme are not in question, it's how it is built that is wrong and that has caused so many issues in the past. UUrgl, you triggered my PTSD…

[2020-06-16 08:27] arzg commented on #6
@romainl

I’m not sure how feasible this is, as IMHO much of Solarized’s characteristic ‘look’ comes from the beige/cream coloured background on the light version, and the deep blue used on the dark version. Neither of these colours has a close enough (in my eyes) equivalent in 256c. Maybe it might be a better idea to focus on adapting colourschemes that are ‘friendly’ to 256c, a quality that defi

[2020-06-16 09:08] romainl commented on #6
@arzg Solarized is indeed very non-256c-friendly, which has been the cause of much of the nightmare, so I'm not sure either. My comment was meant to convey the idea that choosing colorschemes will not primarily be a matter of taste. Ideally, I would  prefer to leave "I like this colorscheme" and "I don't like this colorscheme" outside of the equation.

[2020-06-16 09:26] arzg commented on #6
@romainl

Cool, thanks for the heads-up. Is there any place where the choice of colourschemes to be included can be bike-shedded? :)

[2020-06-16 09:27] sheerun commented on #6
Closest color is probably 230, but you can define both guibg and closest ctermbg in themes. Vim automatically enabling termguicolors if terminal supports gui colors would be helpful for sure

[2020-06-16 09:30] lifepillar commented on #6
Just for the sake of completeness, https://github.com/jan-warchol/selenized appears to rectify some [Solarized issues](https://github.com/jan-warchol/selenized/blob/master/whats-wrong-with-solarized.md), while keeping the “solarized” look-and-feel. The discrepancy between terminal and GUI colors is unavoidable, however.

As a more general remark: it is possible to quantify the difference between R

[2020-06-16 09:31] neutaaaaan commented on #6
@arzg jellybeans does [a decent amount of rewiring](https://github.com/nanotech/jellybeans.vim/blob/master/colors/jellybeans.vim#L527) under the hood, we'd run into the issue I and romainl mentionned the other day. So does the version of [Tomorrow Night you linked to](https://github.com/chriskempson/tomorrow-theme/blob/master/vim/colors/Tomorrow-Night.vim#L297).

People already have expectations a

[2020-06-16 09:45] arzg commented on #6
@neutaaaaan

I’d agree that this kind of nonstandard linking and highlighting of filetype-specific highlight groups doesn’t belong in a colourscheme that’s meant to be shipped with Vim. What I meant was less that those colourschemes should be copied verbatim, but rather that they could be ‘remastered’ by reusing their palettes and the assignment of the colours from these palettes to standard Vim h

[2020-06-16 10:03] neutaaaaan commented on #6
@arzg I could see that working for themes that don't do too much sleight of hand. I'm just afraid that Joe Schmoe will expect *some behaviour* no matter what.

[2020-06-16 10:23] sheerun commented on #6
I've actually spent quite some time to design function that converts rgb color to xterm equivalent and minimizes visual distance. For sure it can be improved but at least it's O(1):

[code]

Maybe Vim could even do such conversion for gui colors internally

[2020-06-16 10:27] arzg commented on #6
@neutaaaaan

Maybe this could be remedied by changing the name entirely from the original, rather than modifying it slightly. This slight modification has led to confusion amongst some font patching projects – [at least one person has mistakenly identified ‘Fura Code’ as a typo](https://github.com/ryanoasis/nerd-fonts/issues/480) (the original font is called ‘Fira Code’).

[2020-06-16 10:30] neutaaaaan commented on #6
@arzg sunitized and gummybears :p

[2020-06-16 11:38] lifepillar commented on #6
I don't think that it's a good idea, in general. In my experience, when you start approximating colors, there are cases where you want to use an xterm color that is not the most visually similar to its RGB counterpart. So, it is better to let the developer choose the xterm colors.

That said, an automatic fallback for when the color scheme does not specify suitable terminal colors might be possibl

[2020-07-10 07:46] habamax commented on #12
That how bad shine is on windows gVim:

![image](https://user-images.githubusercontent.com/234774/87129709-71e7f300-c29a-11ea-861e-a677c2050dd7.png)

It looks like it was designed for a dark background terminal.

[2020-07-10 08:29] romainl commented on #12
@habamax uurgl…

[2020-07-10 08:38] habamax commented on #12
I can help with testing it on win box (g)Vim

[2020-07-10 08:39] habamax commented on #12
And an example of a single remade colorscheme would be nice to have as a reference.

[2020-07-10 08:41] romainl commented on #12
Thanks. Since this is the first "remake" issue with some activity I will start with this one.

[2020-07-10 13:56] habamax commented on #12
I don't know how it should look like... but if I turn off `termguicolors`:

![image](https://user-images.githubusercontent.com/234774/87162170-3cf59380-c2ce-11ea-960f-f86762ea36d7.png)

[2020-07-10 14:12] romainl commented on #12
That's how I expect it to look.

Case in point, this colorscheme uses a mix of hex and names for `gui*g`, which breaks `termguicolors`.

Making legacy colorschemes work properly with `termguicolors` is one of the goals of the remake. Also:

- the palette for `:term`,
- the button bar,
- the popup menu,
- spelling,
- etc.

There is a lot to do but, as you said, it will be easier once we have a work

[2020-07-11 00:58] arzg commented on #12
Will the original colour palettes and/or design be kept? Or only the general ‘feel’?

[2020-07-11 06:41] romainl commented on #12
@arzg I consider preserving the "feel" or "spirit" of the colorscheme to be the most important aspect of the work. If some of the colours have to change a little or be added for technical reasons then so be it.

In this colorscheme, the "feel" is "muted colors on white background, with high contrast UI" and every choice is going to be informed by the need to preserve it. I can't imagine changing `

[2020-07-18 07:44] neutaaaaan commented on #6
I've worked a bit on that pure monochrome theme that would allow people to ignore a broken environment, and keep `:syntax on` without having to resort to setting `t_Co=0` which quite frankly is the visual equivalent of vogon poetry.

Not defining anything but bold/underline/reverse and letting vim use your terminal foreground and background colors works just fine.
I'm relatively satisfied with wha

[2020-07-18 08:12] romainl commented on #6
Could you open a dedicated issue or pull request? That way we will be able to discuss this more freely.

[2020-07-18 08:25] neutaaaaan opened #26 "Universal monochrome theme"
[This is a copy of this post](https://github.com/vim/colorschemes/issues/6#issuecomment-660444870)

I've worked a bit on that pure monochrome theme that would allow people to ignore a broken environment, and keep :syntax on without having to resort to setting t_Co=0 which quite frankly is the visual equivalent of vogon poetry.

Not defining anything but bold/underline/reverse and letting vim use y

[2020-07-18 08:49] romainl commented on #26
Thanks.

From the top of my head:

- I like it, it is very close to where I want bruin to go when I have time to iterate (it is too "rich", right now),
- the active and inactive status lines are not easily distinguishable, I would suggest making one underlined (possibly the inactive one),
- I think the UI should be treated with more consistency, like… the current tab and the current window looking

[2020-07-18 09:05] neutaaaaan commented on #26
I used to do that, but I'd often lose the inactive one below a fold, or a particularly dense line. `reverse` is consistent, and doesn't happen often outside of diffs.

`TabLineSel term=bold,reverse` ought to do the trick. There are probably a handful more elements that I never get to see within my own workflow that need to be tweaked.

The generated file is messy, I expect it'll be rewritten from

[2020-07-27 12:30] Flamekasai commented on #6
Soo any final guidelines yet?

In my opinion
    - Compatibility with 16 256 and true colors.
    - A template or pattern to follow for all colorschemes.
    - What text effects are allowed ( bold, underline, reverse in my opinion are the most compatible and enough for themes + the use of nocombine for compatibility shake *still learning about it, not a lot of documentation* )
    - Possible custo

[2020-07-27 13:45] romainl commented on #6
@Flamekasai no official guidelines yet. I have three weeks of freedom next month, which I will devote to this project.

As for your list, it seems to be very close to what we are getting at. `nocombine` is too new for me, too, I haven't had a chance to play with it.

[2020-07-27 15:11] Flamekasai commented on #6
Oh okey, don't forget to enjoy free time too.

I'm really excited for these project and I will be glad to help when everything is ready to start.

[2020-07-28 09:45] neutaaaaan commented on #26
Slightly updated version, with changes to how StatusLineNC and Tabs are handled.
Can't shake the bizarre way groups inherit the default vim colours.

[None.zip](https://github.com/vim/colorschemes/files/4987341/None.zip)

[2020-08-16 09:55] habamax commented on #26
Win Terminal:

![image](https://user-images.githubusercontent.com/234774/90331726-743b1c80-dfbf-11ea-933c-0f085f00695e.png)

GUI:
![image](https://user-images.githubusercontent.com/234774/90331733-8452fc00-dfbf-11ea-9976-f320449cfb15.png)

Is there a way I can make it consistently either white or black for both? Should I do autocmd Colorscheme and set Normal fg and bg?

[2020-08-17 07:53] neutaaaaan commented on #26
If you're talking about the way the windows terminal uses different colours for bold characters, that's precisely what I'd hoped to avoid by only relying on foreground/background, and all of my testing in xterm, urxvt and gnome-terminal came back fine.
There's not fixing that without messing about with your local config.

If you mean you'd like to bolt the colours down, you'd have to explicitely s

[2020-08-17 07:59] habamax commented on #26
@neutaaaaan all vim shipped colorschemes are either dark or light no matter if I use them in terminal or GUI with the exception of default. (correct me if I am wrong).

The question was whether this one is dark or light? Or is it "default-like" that depends on background of a host (GUI white, terminal whatever is there)?

[2020-08-17 08:15] neutaaaaan commented on #26
That's it. What it's set to effectively doesn't matter, the host process will force its own foreground/background regardless.

[2020-09-15 06:17] romainl opened #30 "Onboard original authors and maintainers of the default colorschemes"
Colorscheme | Name | Email | Email sent | Email received | Conversation started | Will contribute
---|---|---|---|---|---|---
blue | Steven Vertigan | steven@vertigan.wattle.id.au | YES | NO | NO | NO
shine | Yasuhiro Matsumoto | mattn.jp@gmail.com | YES | YES | NO | NO

[2020-09-16 15:33] lifepillar opened #31 "Remove checks number 7 and 8 from check_colors.vim"
Checks number 7  and 8 in `check_colors.vim` may be removed, now that https://github.com/vim/vim/issues/4405 has been fixed.

[2020-09-17 07:09] habamax commented on #31
Hopefully @brammool will accept additional patch wrt to save/restore default links introduced by @adscriven -- then it would be even smoother: `colorscheme whatever` would be enough (no need to do additional `syntax on`)

[2020-09-22 06:28] habamax commented on #12
Should be closed I guess? Next updates with another issue if needed.

[2020-09-22 06:29] habamax commented on #17
@romainl assign it to me, pls

[2020-09-22 07:42] lifepillar opened #33 "Feature request: fallback for less capable terminals"
I see that the remade colorschemes support millions of colors and 256-color palettes. Are you planning for a fallback for less capable terminals? For instance, when `t_Co` is `0`, Shine looks like this:

<img width="530" alt="Screenshot 2020-09-22 at 09 24 37" src="https://user-images.githubusercontent.com/1193314/93854450-1385ba80-fcb6-11ea-951e-e773ed5f0280.png">

By explicitly supporting a fall

[2020-09-22 08:22] romainl commented on #12
Fixed with https://github.com/vim/colorschemes/pull/27

[2020-09-22 08:22] #12 closed

[2020-09-22 08:24] romainl commented on #33
@lifepillar, could you take a look at https://github.com/vim/colorschemes/issues/26?

[2020-09-22 08:24] #33 closed

[2020-09-22 09:20] lifepillar commented on #26
IMO, something like this should definitely be included, but sticking to pure monochrome in capable terminals and GUI seems a bit extreme to me. Are there any reasons for that? I'd prefer a color scheme that degrades gracefully:

- GUI/256/88 colors are available: use shades of gray;
- 16 colors: use ANSI 0, 7, 8, and 15;
- 8 colors: use ANSI 0 and 7;
- less colors: just set term attributes.

If, o

[2020-09-22 13:49] lifepillar commented on #26
There's a caveat to the above: many (most?) Vim's color schemes use ANSI colors. While for new color schemes the approach I have mentioned is not an issue, it would break backward compatibility.

[2020-09-23 14:34] adscriven opened #34 "Unnecessary "syntax reset""
" Load the syntax highlighting defaults, if it's enabled.
    if exists("syntax_on")
        syntax reset
    endif

Is this still necessary? ":hi clear" already achieves this as far as
I can tell.

":hi clear" causes syncolor.vim to be sourced, which, if syntax is on,
follows this path (condition true):

    if !exists("syntax_cmd") || syntax_cmd == "on"

This causes the standard syntax links to

[2020-09-23 15:02] lifepillar commented on #34
Thanks for reporting. Honestly, I don't know. @romainl and @habamax are actively involved in refreshing all Vim color schemes: they certainly know better, and I hope they'll chime in.

In the meantime, if you need to work around Colortemplate's generated code, the current master supports a `reset`/`endreset` block exactly for such purpose.

[2020-09-23 15:16] romainl commented on #34
It looks like you are right about the double-sourcing of `syncolor.vim`. Moreover, removing that conditional `syntax reset` seems to have zero negative effect on the looks of the colorscheme. With this observation and your and @habamax recent work on links it looks like we will be able to simplify the boilerplate to a mere `hi clear`.

I think a PR on colortemplate is in order.

[2020-09-23 15:23] habamax commented on #34
sounds good to me

[2020-09-23 15:41] lifepillar commented on #34
Ok, I have fixed it in Colortemplate's master.

[2020-09-23 16:14] lifepillar commented on #34
This makes me wonder why `syntax reset` is there in the first place. Even `$VIMRUNTIME/colors/Readme.txt` mentions only `hi clear`. Is it something that was needed in older Vim? If so, how old?

[2020-09-23 16:19] adscriven commented on #34
That's what I was wondering. default.vim:

    " Last Change:  2001 Jul 23

And I guess people will look to that as a template.

[2020-09-23 16:30] habamax commented on #34
Should we also ask in vim-dev?

[2020-09-23 16:46] benknoble commented on #34
@habamax I think that's probably a good idea; I tested this on a colorscheme I maintain and didn't notice any ill-effects, but I do wonder if it's a version thing, and I would like to get some official word before I start making changes.

[2020-09-23 16:53] lifepillar opened #35 "check_colors.vim does not check LineNrAbove/LineNrBelow"
I don't think other groups are missing, but it's better to double check.

As an aside,it might be better to move all check_colors issues under one thread, but I'll let you decide.

[2020-09-23 16:55] habamax commented on #34
@benknoble sent to vim-dev

[2020-09-23 16:57] benknoble commented on #34
Here's the link: https://groups.google.com/g/vim_dev/c/bFuC2HAJgMI

[2020-09-24 09:25] neutaaaaan commented on #26
@lifepillar It's a catch-all solution for people working in busted environments that they don't have the privileges or the know-how to fix. It's overkill on purpose, as the only assumption is that foreground/background are legible.

The template is derived from one of my other themes, beware of the cruft :
[None.zip](https://github.com/vim/colorschemes/files/5274834/None.zip)

[2020-09-29 10:25] habamax commented on #23
@romainl assign this to me too.

Will work on it in the future (pause for a couple of weeks)

[2020-09-30 06:14] romainl commented on #23
@habamax done. Don't beat yourself up with this project, it certainly is useful in the grand scheme of things but it is *really* not an emergency.

[2020-09-30 06:18] habamax commented on #23
sure, hopefully others will join us

[2020-11-14 12:05] habamax commented on #9
next one

[2020-11-15 11:50] habamax commented on #14
I guess this is the last light colorscheme?

[2020-11-15 11:52] habamax commented on #14
Not very pleasant but there might be someone using it :)
![image](https://user-images.githubusercontent.com/234774/99184183-31214e80-2752-11eb-98bd-b9bbe59d4f9e.png)

[2020-11-15 11:54] habamax commented on #14
BTW, once you accept all the rest PRs for light colorschemes, we might ask ppl on internet to (vim_dev include) to share their opinion on it and to engage them to fix them further.

[2020-11-15 12:02] habamax opened #40 "Fix vim todo with regards to inclusion of new colorschemes"
Currently `:h todo.txt` has an entry (line 629):

[code]

It should be fixed to note that there is a separate curated project under vim umbrella that sets guidelines to colorschemes to be included and accepts candidates etc.

@chrisbra, @lifepillar, @romainl

[2020-11-15 12:05] habamax commented on #30
## Zellner
Maintainer: Originally maintained by Ron Aaron <ron@ronware.org>

## Morning
Probably no need to, @brammool is/was a maintainer

## Delek
Maintainer:   Originally maintained by David Schweikert <david@schweikert.ch>

[2020-11-15 12:15] habamax commented on #8
I was thinking:

0. @brammool  would merge colorschemes from this repo
1. All new colorschemes should be proposed as PRs to this repo

[2020-11-15 12:46] romainl commented on #8
@habamax…

- with regard to 0, I was wondering if changing the layout to more closely ressemble Vim's would help,
- yes to 1, this repo should act as a clearing house.

[2020-11-15 12:49] romainl commented on #40
A PR on vim/vim seems to be the right course of action, here. I'll do it.

[2020-11-15 12:57] #9 closed

[2020-11-15 12:57] #23 closed

[2020-11-15 12:59] romainl commented on #14
@habamax Can you make a PR for this one?

[2020-11-15 13:09] romainl opened #41 "What to do with templates?"
The `colors` directory can be found here:

    $VIMRUNTIME/colors/

It is a historic location with semantic and structural value.

I am wondering which one of these locations is the best for our templates:

    $VIMRUNTIME/colors/*templates
    $VIMRUNTIME/*templates

I am not super comfortable with adding yet another non-structural directory at the root of $VIMRUNTIME.

[2020-11-15 13:50] habamax commented on #14
Sure, when it is ready :)

[2020-11-15 14:16] habamax commented on #41
I was thinking this repo wouldn't be merged as is, fully. I would expect main vim repo to take only `colors/` directory -- and we are free to add whatever needed to support colorscheme creation.

[2020-11-15 15:12] romainl commented on #41
Good point.

[2020-11-15 15:12] #41 closed

[2020-11-16 08:55] habamax opened #43 "Header comment of "remakes""
What should be put in the header comments?

[code]

Specifically *Author* and *Maintainer*?

I think we should leave original maintainer/author and put some url to current https://github.com/vim/colorschemes ?

[code]

[2020-11-16 09:05] romainl commented on #43
How about something like this?

    " Name:         shine
    " Description:  Light colorscheme inspired by normal text editors
    " Maintainers:  Yasuhiro Matsumoto <mattn@mail.goo.ne.jp>
    "               Maxim Kim <habamax@gmail.com>
    " Website:      https://github.com/vim/colorschemes
    " License:      Vim License (see `:help license`)
    " Last Updated: 16.11.2020 11:43:28

Note that

[2020-11-16 09:35] habamax commented on #43
I am not sure multilines are possible with colortemplate, other than that it is fine for me.

![image](https://user-images.githubusercontent.com/234774/99236349-25905f00-2808-11eb-94fc-45cc9485f22f.png)

@lifepillar, could you add smth like this?

[2020-11-16 10:16] lifepillar commented on #43
Sure, I can do it. But give me a few days.

[2020-11-16 10:18] habamax commented on #43
Thx!
Also, looks like, `Author:` shouldn't be mandatory too.

[2020-11-16 10:29] romainl commented on #43
I think "maintainers" covers both "original author" and "took responsibility in absence of original author": meaning a more general "people involved in the project". But I can see why one may want "author" and "maintainers" to be clearly separated.

Then there is the case of listing individual contributors:

    " Contributors:    Foo Bar <foobar@gmail.com>
    "                  Bar Baz <barbaz@h

[2020-11-16 10:31] habamax commented on #43
I was thinking original author/maintainer would be enough and then for details goto website and check who contributor(s) is/are.

[2020-11-16 10:40] romainl commented on #43
I'm OK with that.

[2020-11-16 10:49] habamax commented on #43
Good! I think under `Maintainer:` key we can clarify he/she was original and now  it is maintained on github colorschemes.

So, @lifepillar looks like we don't need multiple maintainers/authors key but Colortemplate enforce `Author` key which for some colorschemes we don't have, e.g. `shine` only have `maintainer`.

[2020-11-16 10:52] habamax commented on #43
@romainl how about this?

[code]

[2020-11-16 11:30] romainl commented on #43
So…

* we leave the original attribution,
* this repo is clearly indicated as official upstream/website,
* we consider that the recent history is accessible through it.

This should work.

[2020-11-16 13:33] #43 closed

[2020-11-16 18:11] lifepillar commented on #43
Every color scheme has an author. If for some color scheme the author is unknown or anonymous, it should be noted as such.

[2020-11-16 18:19] habamax commented on #43
I doubled maintainer key and renamed it to author :).
I don't know if they were original authors or not and there is no easy way to get this info. Let's hope _real_ original authors will be ok with it.

[2020-11-19 09:00] habamax commented on #14
Should we close issues with remakes expecting users to create new issues if they find a problem?

[2020-11-19 09:08] romainl commented on #14
I have mixed feelings about never-ending issues. Let's close them.

[2020-11-19 09:59] habamax commented on #14
I can't do it, just in case you didn't know :)

[2020-12-25 08:49] #19 closed

[2020-12-25 10:17] habamax commented on #16
Started reimp.

[2020-12-25 17:20] #14 closed

[2020-12-25 17:20] #22 closed

[2020-12-25 17:20] #16 closed

[2021-02-09 00:11] ProgMetalSlug opened #54 "Toggling `'termguicolors'` changes the colorscheme back to default"
**Steps to reproduce bugs**

[code]
This affects most (all?) the remade colorschemes but not the original ones.

Vim version: 8.2.2488
Terminal: Konsole
OS: Kubuntu 20.10

[2021-02-09 06:36] romainl commented on #54
Confirmed with 8.2.2164 in iTerm on macOS. Thank you for spotting this.

[2021-02-09 10:07] lifepillar commented on #54
Well, that is by design. Color schemes generated by Colortemplate are optimized so that they only define the attributes that apply to the current environment. That is to say, if `termguicolors` is set, when a color scheme is loaded only `guifg`/guibg/gui` attributes are defined, but not `ctermfg/ctermbg/cterm`, and vice versa. So, if you change the environment at runtime (why would you do that, bt

[2021-02-09 14:08] ProgMetalSlug commented on #54
I wanted to check that the color scheme with and without `termguicolors` looks the same or is similar enough. I would only do this while trying out new color scheme. Once I settle for a given color scheme of course I then leave `termguicolors` alone.

[2021-02-27 10:08] habamax commented on #54
for now you can just reapply the same colorscheme after changing termguicolors

[2021-02-28 17:16] gdupras opened #55 "Error when sourcing a color scheme if 'compatible' is set"
When `'compatible'` is set, `'cpoptions'` contains `C` and according to `:help 'cpoptions'`:

    C   Do not concatenate sourced lines that start with a
        backslash.  See |line-continuation|.

Therefore, when sourcing a color scheme file, lines like these throw an error:

    let g:terminal_ansi_colors = ['#ffffff', '#0000ff', '#00cd00', '#cd00cd',
          \ '#008b8b', '#0000ff', '#ff1493'

[2021-02-28 17:37] romainl commented on #55
Thank you, I have opened an issue over at  lifepillar/vim-colortemplate.

[2021-02-28 18:50] lifepillar commented on #55
This is fixed in the current master of Colortemplate.

[2021-02-28 19:15] romainl commented on #55
@lifepillar thank you.

[2021-03-07 19:57] jessezbj opened #57 "[Questions] License and compatible Vim versions"
Questions about this repo:

1. What is the license of these colorschemes?
2. What versions of Vim can  these colorschemes support?
3.  Will this repo be merged into the Vim repo to replace the existing built-in colorschemes?

Thanks!

[2021-03-07 20:37] benknoble commented on #57
3. is answered (if not with the exact mechanics) in the README—short answer, yes (correct me if I'm wrong)

1. is probably "the same license as vim"?

[2021-03-07 21:37] romainl commented on #57
@jessezbj…

1. Same as Vim.
2. They are built with "current and future Vim" in mind. We won't even try to ensure backward compatibility with "past Vim" or lateral compatibility with Vim forks.
3. The repo itself doesn't track vim/vim and is probably not going to be "merged" in the strictest meaning of the word. But the idea is a) to replace the built-in colorschemes with the remakes we are working

[2021-03-07 21:58] jessezbj commented on #57
Thank you for the answers! For 3), is it necessary for some reasons to keep the existing content in the runtime/colors/ folder under vim. From the README in this repo, it seems those colorschemes are considered as "stale"?

[2021-03-07 22:12] romainl commented on #57
The content of `runtime/colors` in the vim/vim repo is almost certainly going to be fully replaced by the content of this repo's `colors/`. `pablo`, `ron` and all their friends are not going to disappear, they will just be updated: `runtime/colors/pablo.vim` is here to stay.

And yes, the default colorschemes are "stale", that is why we are rejuvenating them.

[2021-03-08 00:58] jessezbj commented on #57
OK, I get it. Then for 1), could a license file be added into this repo? For 2), may  I say in general vim 8 will work?

[2021-03-08 07:39] romainl commented on #57
Feel free to open a PR.

No, mostly because of Vim's peculiar release cycle. Patches are merged every couple of days so 8.0 and 8.2.2164 are *very* different beasts, even regarding colorschemes, which makes "Vim 8" rather meaningless. Also, when I wrote "current and future Vim" I really meant exactly that: whatever the most current version is (8.2.2164 for me) *and* future versions. Maybe we are t

[2021-03-11 05:38] gdupras opened #58 "No color for DiffChange highlight group with some color schemes"
When `'diff'` is set, lines with changes should be highlighted with the `DiffChange` group. With some color schemes, the foreground and background colors for this group are all set to `NONE`. The changes within the lines are correctly highlighted with `DiffText` though.

This affects the following color schemes:
- desert
- industry
- murphy

Here is an example with desert.vim, with `'termguicolors

[2021-03-11 07:56] romainl commented on #58
Thank you, the problem manifests itself…

- [here](https://github.com/vim/colorschemes/blob/master/colors/desert.vim#L66)
- [here](https://github.com/vim/colorschemes/blob/master/colors/industry.vim#L66)
- [here](https://github.com/vim/colorschemes/blob/master/colors/murphy.vim#L66)

and in several other places. The cause is: https://github.com/vim/colorschemes/blob/master/colortemplate/desert.col

[2021-04-24 08:20] marcthe12 opened #59 "Default variants"
This is a bit of a different request.
Default color scheme for some people like me love it. Unfortunately, in gvim or when termguicolors is on, there are 2 setting which maybe off:
[code]
So I feel that we should create a default light and default dark that set the 2 setting on top of the regular default color scheme.

[2021-09-21 10:50] #25 closed

[2021-09-21 10:51] #17 closed

[2021-09-21 11:04] romainl commented on #11
Assigned to @habamax (I can't do it via GitHub's "Assignees" menu :-(

[2021-09-21 13:19] romainl commented on #21
Assigned to @neutaaaaan.

[2021-09-21 13:19] romainl commented on #13
Assigned to @neutaaaaan.

[2021-09-23 10:47] neutaaaaan commented on #13
Here is my first stab at cleaning up Ron, and making it compatible with 256c terminals.

The only groups that I know aren't handled properly are variations of `Spell[xxx]`, as the gui behaviour cannot be replicated properly in a 256c terminal, and we'll have to come up with a workaround.
The file `colortemplate` exports passes `check_colors.vim`, with the exception of a complaint about `Normal`  n

[2021-09-23 10:49] neutaaaaan commented on #21
Here is my first stab at cleaning up Elflord, and porting its gui style over to the 256c version, which was lacking to say the least.

The only groups that I know aren't handled properly are variations of `Spell[xxx]`, as the gui behaviour cannot be replicated properly in a 256c terminal, and we'll have to come up with a workaround.
The file `colortemplate` exports passes `check_colors.vim`, with

[2021-09-24 07:14] romainl commented on #18
Assigned to @neutaaaaan.

[2021-09-24 07:21] romainl commented on #13
TODO: pmenu and tabline/statusline consistency

[2021-09-24 17:44] neutaaaaan opened #60 "Default"
Here's the template for `default` that I had to make before I could start work on colorschemes derived from it.
I have not fixed any of the glaring inconsistencies in it.

This raises the question of what to do about it, or if we should even do anything about it, as it's technically not really a colorscheme.

`:colo notdefault`
[notdefault.zip](https://github.com/vim/colorschemes/files/7227628/not

[2021-09-25 07:58] neutaaaaan commented on #18
`koehler` is by and large a couple tweaks on top of `default`, meaning its gui and 256c version are all over the place.

I reimplemented it "properly", and ported its gui style over to 256c.
As with my other templates, the `Spell[xxx]` groups aren't handled properly, and the template will require a second pass to get rid of some of the eyesores.

`:colo notkoehler`
[notkoehler.zip](https://github.

[2021-09-26 15:58] habamax commented on #11
first iteration:

![image](https://user-images.githubusercontent.com/234774/134815149-82bbc79d-4ada-4b8d-9b41-af18ccf4eb38.png)

[2021-09-26 16:12] habamax commented on #11
@romainl I will create PR tomorrow.

[reslate.zip](https://github.com/vim/colorschemes/files/7231705/reslate.zip)

[2021-09-26 16:35] habamax commented on #10
@romainl this one my next to remake.

[2021-09-26 16:39] romainl commented on #10
Assigned to @habamax.

[2021-09-27 18:37] habamax commented on #58
That is actually my "fault", I have used my template for remaking and I usually do simplify vim diff colors cause I can't stand how "colorful" it is. Too distracting for me.

I use smth like this usually:

![image](https://user-images.githubusercontent.com/234774/134966006-77aed6c0-e06b-4406-b48a-af2c2514b362.png)

PS, will fix those in question eventually.

[2021-09-27 18:49] gdupras commented on #58
With `:set nowrap`, which is the default when diff'ing buffers, the changed text could be past the edge of the window so you may not see it.

I agree that diffs tend to be a little too colorful though.

[2021-09-29 12:57] habamax commented on #11
this is done

[2021-09-29 17:48] #11 closed

[2021-09-30 06:58] habamax commented on #58
PR is there.

[2021-09-30 18:30] #58 closed

[2021-10-01 07:34] habamax commented on #60
These are defntly not default
[code]

[2021-10-01 08:06] habamax commented on #60
And thanks for this!

[2021-10-01 08:40] romainl commented on #60
Thanks. Shouldn't we have a "light" variant, too?

[2021-10-01 08:44] habamax commented on #60
I am thinking of something like
[code]

I wish it was in the beginning of the journey :)

[2021-10-01 09:20] habamax commented on #10
![image](https://user-images.githubusercontent.com/234774/135596792-2eb9de8f-5ec8-46e0-9888-6ee754a2fb03.png)

[2021-10-01 09:28] habamax commented on #60
Slightly simplified default dark 256/GUI:

[default_dark.zip](https://github.com/vim/colorschemes/files/7265863/default_dark.zip)

+ add minor improvements (fix cursor, tabline, boldness)

[2021-10-01 09:33] habamax commented on #15
@romainl assign to me

[2021-10-01 09:34] habamax commented on #15
Assigned to @habamax :)

[2021-10-01 09:57] romainl opened #64 "Expand the team"
@brammool would it be possible to add @habamax and @neutaaaaan to the vim/colorschemes project? That would make interacting with them, assigning task and so on easier.

[2021-10-01 10:18] chrisbra commented on #64
I think I have done it. @habamax and @neutaaaaan  you should have gotten an invite

[2021-10-01 10:22] romainl commented on #64
Thak you @chrisbra.

[2021-10-01 10:27] #64 closed

[2021-10-01 10:28] chrisbra commented on #64
you are all outside collaborators. I tried to create a team, but I am not allowed to add non Vim members apparently. So let's keep it as is and let me know if you need something.

[2021-10-01 10:40] romainl commented on #64
"Outside collaborator" is fine by me.

[2021-10-01 12:05] #10 closed

[2021-10-01 12:07] habamax opened #66 "Add 16 colors approximation for remade colorschemes"
All the builtin colorschemes should be readable in default xterm palette of 16 colors.

* [x] `blue.vim`
* [x] `darkblue.vim`
* [x] `delek.vim`
* [x] `desert.vim`
* [x] `elflord.vim`
* [x] `evening.vim`
* [x] `industry.vim`
* [x] `koehler.vim`
* [x] `morning.vim`
* [x] `murphy.vim`
* [x] `pablo.vim`
* [x] `peachpuff.vim`
* [x] `ron.vim`
* [x] `shine.vim`
* [x] `slate.vim`
* [x] `torte.vim`
* [x] `

[2021-10-01 12:47] neutaaaaan commented on #60
@habamax Maybe, maybe not : I had to extract settings and values from *somewhere* and it's in https://github.com/vim/vim/blob/master/src/highlight.c#L245

And yeah, it's only the dark version, as the other colorschemes I made rough templates for relied on it, so I had to get this out of the way first.

[2021-10-01 12:54] habamax commented on #60
With that toolbarbutton colors they are completely black and invisible. The same is for cursor -- I can't see it :)

Anyway, awesome work!

[2021-10-01 13:02] neutaaaaan commented on #60
Well turns out I linked to the wrong part of the file, here's the stuff for the dark version : https://github.com/vim/vim/blob/master/src/highlight.c#L337

The template should be fine : I already had to fix the same dumb mistake last week.

[2021-10-01 16:03] habamax commented on #64
Thanks @chrisbra !

[2021-10-02 15:23] lifepillar commented on #60
Sorry for coming late to the party, and for not paying too much attention lately: is this meant to replicate Vim's default color scheme? If so, had you taken a look at `default_clone.colortemplate` in Colortemplate's `templates` directory? Probably it's too late to save you some work…

[2021-10-02 18:06] #15 closed

[2021-10-02 18:07] #20 closed

[2021-10-02 18:08] romainl commented on #24
WIP

[2021-10-02 18:08] #57 closed

[2021-10-03 17:13] #30 closed

[2021-10-04 06:02] neutaaaaan commented on #60
@lifepillar I had no idea, I don't think I've even looked at the contents of the folder since I first started using `colortemplate` four years ago.

That'll be useful for the light version.

[2021-10-04 07:02] habamax commented on #66
@romainl should we also have a 256c versions of the existing colorschemes?

Like blue currently uses default palette even for `t_Co=256`:
![image](https://user-images.githubusercontent.com/234774/135807360-35615d48-1324-44ea-8424-fff1f54b583a.png)

[2021-10-04 07:37] romainl commented on #66
It looks like a mistake on my part. Will fix it asap.

[2021-10-04 08:31] habamax commented on #66
I have also found my prev remades are kind of broken on linux (although works ok for win cmd). Will fix them too.

[2021-10-04 10:01] romainl commented on #66
It's fixed, now.

Note to self: don't trust timestamps.

[2021-10-04 10:14] habamax commented on #66
Nice, thx!

[2021-10-05 15:30] gdupras commented on #55
Fixed in 7668a4a5dd727a246.

[2021-10-05 15:30] #55 closed

[2021-10-05 15:42] gdupras opened #70 "Hard to read directory names in terminal window"
Directory names in the output of `:terminal ls --color` can be hard to read. Directories are dark blue in the color schemes below. Only these four color schemes are affected.

To reproduce:
[code]

blue (this one might be borderline acceptable):

![dir_color_blue](https://user-images.githubusercontent.com/57042631/136054816-9866c3db-5ecb-41b6-8186-cce696a4a40e.png)

evening:

![dir_color_evening](

[2021-10-05 17:36] habamax commented on #70
my gvim on windows:
![image](https://user-images.githubusercontent.com/234774/136073969-a384290f-4808-47a5-a3d2-a97d1d3f4067.png)

WSL:
![image](https://user-images.githubusercontent.com/234774/136074159-969b8ac3-760a-4391-9c62-72a8916fcb7b.png)

[2021-10-05 17:38] habamax commented on #70
I will check industry and murphy, thx

[2021-10-05 17:46] gdupras commented on #70
Right, I forgot to mention that my `ls` on Windows is from [Msys2](https://www.msys2.org/). I added `C:\msys64\usr\bin` to my path to make `ls` available in `cmd.exe`.

[2021-10-05 18:11] habamax commented on #70
Industry with termguicolors on WSL doesn't have that issue (probably because I have changed LSCOLORS or smth):
![image](https://user-images.githubusercontent.com/234774/136077971-579ba720-6cb4-4943-968b-05383537b68c.png)

On gvim blue looks ok for me:
![image](https://user-images.githubusercontent.com/234774/136079115-ec4b543c-65ab-4619-8f9f-f88d5085dde9.png)

[2021-10-05 20:19] romainl commented on #70
Well… this is interesting:

<img width="2017" alt="Capture d’écran 2021-10-05 à 22 10 42" src="https://user-images.githubusercontent.com/344335/136095551-2432ac6d-a3fe-4348-8c99-2bce87565e39.png">

That is `evening.vim`.

In the middle, we have the beginning of `:term msgcat --color=test`, with all the colors exactly as defined by the colorscheme.

At the bottom we have the values of `g:terminal

[2021-10-06 05:37] romainl opened #71 "`Terminal` inconsistencies."
`Terminal` is defined in some colorschemes but not in others.

This is inconsistent and I think we should decide how to handle that highlight group across all colorschemes.

My opinion: `Terminal` should be defined explicitly in every colorscheme, either as a  link to `Normal` or on its own.

[2021-10-06 06:33] habamax commented on #71
I don't mind to explicitly set it. Link to Normal is ok.

[2021-10-06 07:06] habamax commented on #70
What is your $LS_COLORS? It might use colors outside of the base 16.

[2021-10-06 07:08] habamax commented on #70
And I am probably wrong, it only uses default 16 colors, right?

[2021-10-06 07:19] romainl commented on #70
`$LS_COLORS` is empty anyway.

[2021-10-06 07:39] habamax commented on #70
@gdupras pls check linked PR

[2021-10-06 08:54] neutaaaaan commented on #71
I should have updated all of my templates and regenerated files before doing all my pull-requests today.
Emphasis on *should*.

[2021-10-06 12:07] habamax commented on #21
@neutaaaaan I have updated it:

![image](https://user-images.githubusercontent.com/234774/136198951-ddef334d-8a44-4642-b428-2f8c1f356d6f.png)

![image](https://user-images.githubusercontent.com/234774/136198977-81055484-11b6-4ccf-acbd-3e04cffca185.png)

PS, `Terminal` is added too.

[2021-10-06 12:07] #21 closed

[2021-10-06 12:27] habamax commented on #13
Fixed it:
![image](https://user-images.githubusercontent.com/234774/136201889-3873bbe1-aae1-464e-ad13-4cca0c820a9b.png)

![image](https://user-images.githubusercontent.com/234774/136201829-0815fe7c-b820-4b8e-a731-951e73deed07.png)

[2021-10-06 12:27] #13 closed

[2021-10-06 12:28] #24 closed, assigned to romainl

[2021-10-06 12:57] habamax commented on #18
![image](https://user-images.githubusercontent.com/234774/136206138-d3ed30ce-52c7-484f-b454-a0246712e6fe.png)

![image](https://user-images.githubusercontent.com/234774/136206455-6906968e-36e8-4226-b2cb-5cea1759009a.png)

[2021-10-06 12:57] #18 closed

[2021-10-06 13:27] #60 closed

[2021-10-07 06:41] habamax commented on #4
I am not sure if we need an issue template as of now as there is no flood of issues we get atm.
Once there are many we can analyze them and create a template that would meet our needs.

[2021-10-08 11:29] #70 closed

[2021-10-09 08:47] romainl opened #81 "Remake default.vim"
We can base it on the colortemplate sample and/or on @neutaaaaan's effort.

[2021-10-09 08:48] romainl opened #82 "Remake macvim.vim"

[2021-10-09 10:11] romainl opened #83 "Popup menu galore"
Here are the popup menus in their current state.

- Are we OK with them?
- Do we need to enforce some kind of consistency?

Blue:
<img width="1075" alt="blue" src="https://user-images.githubusercontent.com/344335/136653442-c58a0196-e803-4da5-b6c3-39ec6d6fc8f5.png">
Darkblue:
<img width="1075" alt="darkblue" src="https://user-images.githubusercontent.com/344335/136653445-6626128f-8b28-4c58-b9ed-fdf

[2021-10-09 13:10] habamax commented on #82
Then it would be additional step for Bram or anyone else to filter what to take and not from this repo colors/ directory  to vim/vim

[2021-10-10 09:09] #83 closed, assigned to nobody

[2021-10-10 09:39] romainl opened #86 "Should we prescribe hl-User1..9?"
The highlight groups `User1` through `User9` can be used in the status line. Would it be a good idea to prescribe them the same way we do for `g:terminal_ansi_colors`, by picking colors from the colorscheme's palette?

[2021-10-10 10:18] lifepillar commented on #86
I don't know:

- they are “user” groups, so they are supposed to be defined by the user.
- How would you choose from a palette with more than 9 colors?
- Most importantly, how would you choose the colors for each `UserN` group? `UserN` does not carry any semantics.

Note that assigning default colors to `User1`–`User9` makes sense if it can be done consistently across color schemes, so that when u

[2021-10-16 13:35] habamax commented on #66
## desert 256
![image](https://user-images.githubusercontent.com/234774/137589529-3eb9cc43-aebd-40e4-b3a8-c96bebfa6ec7.png)

![image](https://user-images.githubusercontent.com/234774/137589537-773db6d9-691b-444c-a861-16855c83398e.png)

## desert 16 with xterm default

![image](https://user-images.githubusercontent.com/234774/137589544-f820bd5b-04f2-4839-be12-edc2317ede03.png)

![image](https://use

[2021-10-16 13:37] habamax commented on #66
Hm, folded foreground should be probably yellow

[2021-10-17 08:50] romainl opened #87 "Reality check"
Let's use these for real and find opportunities for improvement.

## darkblue (@romainl)

- 16c prefer NONE for Normal fg/bg
- 256c statusline not enough contrast

Will push something soon.

## delek (@romainl)

- Error should have cterm=reverse

## desert (@romainl)

## elflord (@romainl)

## evening (@romainl)

## industry

## koehler

## morning

## murphy

## pablo

## peachpuff

## ron

## sh

[2021-10-17 14:56] #40 closed

[2021-10-19 17:20] habamax commented on #66
4 to go...

[2021-10-20 07:30] #66 closed

[2021-10-20 08:08] habamax opened #88 "Colortemplate Variant: 0"
We need a way to declare templates for 'no color' support aka `Variant: 0`.

See https://github.com/vim/colorschemes/pull/73

@lifepillar fyi

[2021-10-20 17:58] romainl commented on #54
Vimmers have been living with broken colorschemes for decades so they can probably accept that `termguicolors`-related annoyance until v3 is ready.

[2021-10-21 06:08] habamax opened #89 "Add no color support (t_Co=0)"
With the new colortemplate we can now add support for "no color" terminal by adding these to the end of templates:

    ; No color support
    Include: _tcozero

[2021-10-22 10:27] lifepillar opened #90 "Should color schemes be written in Vim9 script?"
For typical color schemes, the changes to apply to convert into Vim9 script are fairly minimal: different comment symbol, `s:` prefixes can be removed, `let` is removed or replaced with `const/var`, no `unlet` (?), and minor changes due to stricter type checking (e.g., `&t_Co > 1` must be replaced by `str2nr(&t_Co) > 1`). Performance-wise, I don't think that the language makes a difference, given

[2021-10-23 16:21] #89 closed, assigned to nobody

[2021-11-05 14:50] romainl opened #102 "IncSearch visibility issues"
In several colorschemes, `IncSearch` is defined like this:

    IncSearch          none           none           reverse

It works most of the time but it can conflict with `Search` when it is exactly the `reverse` of the group in which the match occurs. See https://github.com/vim/colorschemes/pull/101

We need to figure out a solution: change how `IncSearch` is handled or make sure `Search` is ne

[2021-11-06 10:50] habamax opened #104 "evening folding"
Should be more readable:

![image](https://user-images.githubusercontent.com/234774/140606983-a2a950b7-5766-4435-beda-fa25a359f041.png)

[2021-11-06 10:59] habamax opened #105 "blue error is badly visible in diff mode"
![image](https://user-images.githubusercontent.com/234774/140607196-08c4450a-3966-4321-bc9a-3282bebecbdc.png)

[2021-11-06 11:18] #104 closed

[2021-11-06 11:20] romainl opened #107 "evening.vim tabline issues"
the tabline uses reverse, which has side effects on the window number.

[2021-11-08 09:53] romainl opened #108 "Review: color consistency"
Make sure that any given GUI color is always translated to the same 256c and 16c.

For example, LightMagenta, which doesn't exist in `rgb.txt`:

     co/evening.colortemplate|17 col 8| Color: lightmagenta  #ffa0a0           217               magenta
     co/shine.colortemplate|38 col 8| Color: LightMagenta#ff83fa        213            13

[2021-11-08 11:39] #107 closed

[2021-11-08 12:13] habamax commented on #102
Evening
![image](https://user-images.githubusercontent.com/234774/140740101-a030f271-bcf8-40ac-8d1f-7b23d01359a0.png)

[2021-11-08 12:14] habamax commented on #102
darkblue
![image](https://user-images.githubusercontent.com/234774/140740256-9179a646-005c-43ed-b41f-d1386c2e5c5e.png)

[2021-11-08 12:16] habamax commented on #102
pablo

![image](https://user-images.githubusercontent.com/234774/140740496-c61cd623-f2a0-46a2-a210-3d6dafe4bf6a.png)

[2021-11-08 12:17] habamax commented on #102
Others are ok

[2021-11-08 12:50] romainl opened #112 "Review: diff colors visibility"
Make sure `Error` is visible/legible when it is part of `DiffChange` and `DiffText`.

[2021-11-08 13:57] habamax commented on #105
#112

[2021-11-08 13:58] habamax commented on #102
zellner
![image](https://user-images.githubusercontent.com/234774/140754725-6252d059-16a5-4b33-9d1b-58874ed3e014.png)

[2021-11-08 14:39] romainl commented on #105
I'm not sure  it's any better than the previous state.

[2021-11-08 15:16] habamax commented on #105
It is not my remake, it was an observation of the previous state, obsolete now with new blue.

But Error in new blue is still not that good, that is why I have linked it

[2021-11-09 16:59] lifepillar commented on #108
Or give different colors different names?

[2021-11-09 17:18] romainl commented on #108
@lifepillar What do you mean?

The issue, here, is that a given gui color can have different 256c and/or 16c translations across colorschemes. This is an inconsistency issue that should be dealt with.

[2021-11-10 13:41] lifepillar commented on #108
Isn't that two different colors (`#ffa0a0` and `#ff83fa`) which have been assigned the same symbolic name (`LightMagenta`)? So, one possibility would be to rename one color.

[2021-11-10 14:39] romainl commented on #108
No.

*One* symbolic name, `LightMagenta`, is used in two original colorschemes but it was erroneously translated to *two* different values in two different remakes. That's the issue to address… and there are other similar cases.

Don't worry if you don't get it, this issue is just a memo for later.

[2021-11-12 16:01] romainl commented on #108
Below is the list of conflicting `Color:` statements found in `colortemplate/`.

    blue	#0000ff	21	12
    blue	#0000ff	21	4
    blue	#0000ff	21	blue
    blue	#0000ff	21	darkblue
    blue	#0000ff	63	blue
    blue	#0030ff	27	blue
    blue	#005faf	25	blue
    blue	#0087ff	33	blue
    blue	#5fafff	75	blue

    cyan	#00ffff	51	cyan
    cyan	#5fffff	87	cyan
    cyan	#90fff0	123	cyan

    darkblue	#000

[2021-11-12 18:59] lifepillar commented on #108
In Colortemplate's documentation I wrote:

If you take blue as an example, `#0000ff` is approximated with (21,blue), (21,darkblue), and (63,blue) in different color schemes. That is perfectly fine, because what looks best in an approximated color scheme very much depends on how all the colors interact. Requiring that `#0000ff` be always approximated with the same 256/16c color would produce subopt

[2021-11-12 20:28] romainl commented on #108
The problem with this line of thinking is that the author of the original colorscheme deliberately chose a specific color with a fixed, standardized value. People use those colorschemes in the real world and I think that the pros and cons of changes like the ones you allude to must be weighted carefully. The originals are messy and we can't seriously claim that our remakes are an improvement if th

[2022-01-11 08:26] habamax opened #117 "Update colors/README.txt with relevant info"
Probably it should consist of 2 parts:

1. current info on how to create adhoc colorscheme (maybe with some edits)
2. mention of this repo and/or colortemplate tool to create colorschemes

It would be good to include @romainl gist excerpts on how to adjust existing colorscheme using `Colorscheme` autocommand https://gist.github.com/romainl/379904f91fa40533175dfaec4c833f2f.

PS, make it `.md` too?

[2022-01-15 20:52] romainl commented on #117
I think that the various informations in this file (and eventually some from that gist and from colortemplate's doc) should be moved to the main documentation instead of being kept hidden in the source.

`:help write-colorscheme` would be a great entry-point.

[2022-01-16 09:10] habamax commented on #117
So,

1. `*write-colorscheme*` or `*create-new-colorscheme*` topic should be created (In what file? syntax.txt?)
2. `$VIMRUNTIME/colors/README.txt` should be removed
3. Entry in `:h :colo` (the last para in `:colo[rscheme] {name} should be changed from:
[code]
to (should be smth better formulated :) )
[code]

[2022-01-16 09:18] #102 closed

[2022-01-16 09:34] romainl commented on #117
Pretty much.

1. `*write-colorscheme*` is consistent with `*write-plugin*`, `*write-local-help*`, `*write-filetype-plugin*` and so on. All those sections are in `usr_41.txt` so maybe that would be a good place? Info about colorschemes is a bit scattered around right now.

2. Yes, or being reduced to something like "Built-in colorschemes are developed at [vim/colorschemes](https://github.com/vim/co

[2022-01-16 11:31] habamax opened #118 "check_colors vs !has('patch-8.0.0616')"
So check_colors has check 3 that doesn't like colortemplate output:

[code]

![image](https://user-images.githubusercontent.com/234774/149658076-8d252f6c-7fc2-4f6c-aa5a-f30d5c37d97f.png)

@lifepillar, do you think you would remove it at some point or should we amend check_colors itself?

@romainl fyi.

[2022-01-16 11:36] habamax commented on #31
I have "converted" the script to vim9script (there was no need to do it but anyway)

Old blue check_colors:

![image](https://user-images.githubusercontent.com/234774/149658186-5a89611a-ff2d-4349-bfcf-e91ab01e0341.png)

New blue:

![image](https://user-images.githubusercontent.com/234774/149658202-fabc4cd2-8d68-4519-be69-35f98424d97b.png)

[2022-01-16 15:37] lifepillar commented on #118
That code is for backward compatibility: it doesn't make sense for color schemes that are including with recent Vim. I do not plan to retain it for v3, but for now I may just add a setting to skip it.

[2022-01-16 15:42] lifepillar commented on #118
FYI, this is the bug mentioned in the comment: https://groups.google.com/g/vim_dev/c/afPqwAFNdrU/m/nqh6tOM87QUJ.

[2022-01-16 16:03] lifepillar commented on #118
Colortemplate's master has a new setting to fix this. Just set `g:colortemplate_backward_compatibility=0` or add a declaration `Colortemplate Options: backward_compatibility=0` in the template.

[2022-01-16 16:05] romainl commented on #118
That `background` option has been causing so much confusion…

Thank you @lifepillar.

[2022-01-16 16:10] lifepillar commented on #118
No, I think that `check_colors` should complain about that.

The code Colortemplate generates (only under pretty specific circumstances—see `check_bug_bg234()` in Colortemplate's source if you are curious) is a hack to work around the above mentioned bug, as I didn't find a better way.

[2022-01-16 18:44] habamax commented on #118
Thx @lifepillar!

[2022-01-16 18:44] #118 closed

[2022-01-16 18:44] habamax commented on #105
Duplicate of #112

[2022-01-16 18:44] #105 closed

[2022-01-17 07:25] habamax commented on #3
1. `colors/tools/check_colors.vim` should not have errors
2. for each `background` attach screenshots of
   * `colors/tools/sample_base.vim`
   * `colors/tools/sample_popupmenu.vim`
   * `colors/tools/sample_diff.vim`
   * `colors/tools/sample_messages.vim`
3. if a colorscheme supports `termguicolors/GUI`, `t_Co=256` and/or `t_Co=16` attach screenshots of pt2 per each

[2022-01-17 07:39] habamax commented on #3
example: habamax.vim

# Background: light

## GUI/termguicolors

### sample_base.vim
![image](https://user-images.githubusercontent.com/234774/149725866-1ff6c22c-51e7-41f1-be7f-9a3033a457a2.png)

### sample_popupmenu.vim
![image](https://user-images.githubusercontent.com/234774/149726043-c2e1eeed-114f-408f-88d4-529bdc5d4410.png)

### sample_diff.vim
![image](https://user-images.githubusercontent.c

[2022-01-17 07:44] habamax commented on #3
huh, window size should be enough to see colorcolumn or maybe adjust color_base.vim to have it at 40 or 50 col.

[2022-01-17 08:01] habamax opened #120 "Remove backward compatibility check from colorschemes"
For all colorschemes add following option:

[code]

to remove compatibility check in generated colorschemes.

[2022-01-17 08:05] lifepillar commented on #120
I was wondering whether I should make this the default in Colortemplate, so you don't have to clutter the template. In general, I try to be backward compatible (pun not intentional), but in this case I could make an exception: if some users complain, the fix is easy. It also makes more sense for a hack to be optional, not the default.

[2022-01-17 08:06] habamax commented on #120
It would be really nice

[2022-01-17 08:07] habamax commented on #3
@romainl too much of screenshots or ok?

[2022-01-17 08:24] lifepillar commented on #120
Pushed to master!

[2022-01-17 08:25] habamax commented on #120
Amazing, thank you!

[2022-01-17 08:25] #120 closed

[2022-01-17 08:26] romainl commented on #3
We are talking colorschemes, here, so we need as many screenshots as possible :-)

[2022-01-17 12:27] habamax commented on #112
# t_co=256/gui

## NOT OK

### slate is NOT OK (comments are barely visible)
![image](https://user-images.githubusercontent.com/234774/149769013-317d726a-1ed7-45c2-8f5e-9199e56b8e41.png)

### koehler is NOT OK
![image](https://user-images.githubusercontent.com/234774/149768610-6bbb265e-a2fd-47a9-bf94-70ad6a8f3098.png)

## morning is NOT OK
![image](https://user-images.githubusercontent.com/234774/

[2022-01-18 10:06] habamax commented on #112
Fixed for gui/256. For 16c let's create a sep issue.

[2022-01-18 10:06] #112 closed

[2022-01-18 10:09] habamax opened #121 "16c Diff Colors"
We should probably do 2 sets of diff colors: dark and light suited for 16c palette where foreground should not be transparent. And apply it for all.

@romainl does it make sense?

[2022-01-18 13:42] romainl commented on #121
TBH, that was my thinking when I started to work on that universal theme we talked about on IRC.

Anyway, 16c is too constrained. The main problem I see is all the potential clashes between the syntax highlighted foreground color and the background color of DiffChange/DiffText/DiffAdd.

<img width="1312" alt="Capture d’écran 2022-01-18 à 14 32 51" src="https://user-images.githubusercontent.com/3

[2022-01-18 13:58] romainl commented on #121
And then, there is the CursorLine problem ;-)

[2022-01-18 14:04] habamax commented on #121
do you think it is a good idea to have it not only for 16c?

[2022-01-18 14:12] romainl commented on #121
<img width="1649" alt="Capture d’écran 2022-01-18 à 15 07 17" src="https://user-images.githubusercontent.com/344335/149952611-afddf7bb-e1ac-4f71-b402-776ca9f2957c.png">

This is how I do it in Apprentice, and now with my little "universal" experiment:

- DiffAdd, DiffChange, DiffText, DiffDelete are all `ctermbg=235 ctermfg=<some diff background color> cterm=reverse`,
- the "diff blocks" are not

[2022-01-18 14:18] habamax commented on #121
Let's do it.

[2022-01-18 14:25] habamax commented on #121
[code]

[2022-01-18 16:25] habamax commented on #121
desert in 16c:

![image](https://user-images.githubusercontent.com/234774/149977298-9a42265b-6517-428a-9c8b-cfbec6bbddcb.png)

[2022-01-18 16:29] habamax commented on #121
desert in 256/GUI
![image](https://user-images.githubusercontent.com/234774/149977951-11abd968-d614-4d9f-af87-ad0083d58c1c.png)

[2022-01-18 16:42] habamax commented on #121
and it actually works fine for white colors too:
![image](https://user-images.githubusercontent.com/234774/149980305-d3f7a81f-8485-42e5-868c-d7b9b174b479.png)

[2022-01-18 17:33] romainl opened #123 "Statusline appears to be broken in evening.vim"
<img width="1167" alt="Capture d’écran 2022-01-18 à 18 31 01" src="https://user-images.githubusercontent.com/344335/149988612-f0c2fe8e-d4c7-42f3-a6a9-4a63a4d7efef.png">

[2022-01-18 17:46] habamax commented on #123
Fixed here:

https://github.com/vim/colorschemes/pull/122/commits/c252b48bd8ff8902512d47fa1b9ab45eca311e61

[2022-01-23 11:20] habamax commented on #54
@lifepillar fyi: https://groups.google.com/g/vim_dev/c/6eI4doV2Mi0/m/9-AENzagAgAJ

[2022-01-23 11:38] jeanluc2020 commented on #54
I sometimes start vim, editing a file, and later realize this will be a longer editing session and I want to have my terminal back during that session without jumping in and out of vim or suspending it all the time, so i type ":gui" to continue working on the file.
For me personally, that is something common enough to be annoyed by reloading the colorscheme again.

I suggest adding something like

[2022-01-24 08:05] lifepillar commented on #54
Ok, this has come up a few times already… I was not aware of `:gui` (is there an end to Vim's knowledge?)

So, the solution here is to build the color schemes so that GUI and terminal definitions are both applied, regardless of the values of `termguicolors`. I was planning to address it for v3, but it's clear that it is needed now. I hope be able to work on that during the weekend. I'll keep you u

[2022-01-24 08:23] romainl commented on #54
Well, there's also the case of Vim honouring `g:terminal_ansi_colors` even when not in GUI and `termguicolors` is disabled. Isn't there a line to draw in the sand between what can/should be done at the colorscheme level  and what should be fixed in Vim?

I don't see a valid reason for having a different startup process in Gvim after `:gui` or after a normal launch and the idea of adding autocomman

[2022-01-24 08:53] habamax commented on #54
For the last 2 we have to create issues agains vim repo I guess

[2022-02-06 19:09] #121 closed

[2022-02-06 21:37] romainl opened #125 "[WIP] RFC"
This is a draft of the message we are going to send to the mailing list regarding the remakes. What should I remove? What should I change? What should I add?

(no markdown because this is supposed to be sent  to the mailing list)

---

Hello,

We started the vim/colorschemes [1] project in May 2020 in the wake of two threads about the built-in colorschemes started by Christian Brabandt [2][3].

Ch

[2022-02-07 06:29] habamax commented on #125
Looks good for me

[2022-02-07 06:41] habamax commented on #123
Fixed in master:
![image](https://user-images.githubusercontent.com/234774/152737763-559595bc-cad7-4c11-a666-0716e2686adb.png)

[2022-02-07 06:41] #123 closed

[2022-02-07 06:43] habamax commented on #121
@romainl I think we need to change difftext to darkgreen for 16c:

## current master

![image](https://user-images.githubusercontent.com/234774/152737973-c58a7896-7c49-4147-a003-742536cd46c8.png)

## darkgreen DiffText

![image](https://user-images.githubusercontent.com/234774/152737931-32e94cd7-7241-4ae2-bb68-049c4206ec73.png)

[2022-02-07 06:44] habamax commented on #121
Or use black fg for there...

[2022-02-07 06:49] habamax commented on #121
shine:

## current
![image](https://user-images.githubusercontent.com/234774/152738628-c254c8b5-729e-41b1-8c78-7b4ede0daec0.png)

## darkgreen
![image](https://user-images.githubusercontent.com/234774/152738598-8f4635ca-e171-4b5a-be0d-011e9dfec330.png)

[2022-02-07 07:16] habamax commented on #87
I guess this is not relevant as of now?

[2022-02-07 07:16] #87 closed

[2022-02-07 18:43] neutaaaaan commented on #125
You might want to add a few words about the colorschemes that were not properly implemented to begin with, but I'm not even sure that'd spare us from 0.5% of the flood of false positives.

Aside from that, looks good to me.

[2022-02-07 21:11] romainl commented on #125
DRAFT #2

---

Hello,

We started the vim/colorschemes [1] project in May 2020 in the wake of two threads focusing on expanding the built-in colorschemes roster [2][3].

The initial push for introducing popular colorschemes was met with enthusiasm but it was pretty obvious a) that such a move couldn't happen overnight and b) that it would come with lots of challenges:
- many popular colorschemes n

[2022-02-07 21:26] neutaaaaan commented on #125
I think you should either drop the explicit reference to peachpuff, or slide *"for example"* somewhere in that sentence, but that's really because I feel like being pedantic.

Aside from that, looks good to me.

[2022-02-07 21:38] romainl commented on #125
DRAFT #3

---

Hello,

We started the vim/colorschemes [1] project in May 2020 in the wake of two threads focusing on expanding the built-in colorschemes roster [2][3].

The initial push for introducing popular colorschemes was met with enthusiasm but it was pretty obvious a) that such a move couldn't happen overnight and b) that it would come with lots of challenges:
- many popular colorschemes n

[2022-02-07 21:45] neutaaaaan commented on #125
I am hereby complaining that I can't find anything to complain about in this draft.

Aside from that, looks good to me.

[2022-02-08 06:27] habamax commented on #125
sorry to be that guy :), if I were the reader (not involved into colorscheme remakes) I might miss that there are remade colorschemes to try and probably include into vim distribution as of now.

TLDR-alike preface would be nice to have (initial message was shorter, thus it didn't suffer from this)

Hello,

SUMMARY: All legacy colorschemes are ready to be tested/included into vim distribution.

We

[2022-02-08 07:24] romainl commented on #125
DRAFT #4  (added summary as well as a few lines at the bottom)

---

Hello,

SUMMARY: The remakes of all legacy colorschemes are ready to be tested/included into the Vim distribution. Feedback welcome.

We started the vim/colorschemes [1] project in May 2020 in the wake of two threads focusing on expanding the built-in colorschemes roster [2][3].

The initial push for introducing popular colorsche

[2022-02-08 07:30] habamax commented on #125
^^^^

[2022-02-08 07:34] romainl commented on #125
It's a mardown renderer artefact. The actual text is not in markdown.

[2022-02-08 08:04] lifepillar opened #127 "Remove "Generated by…” comment before shipping?"
Just a heads up: in case you want to remove the “Generated by Colortemplate” comment, there is an option to do that. Either unset `g:colortemplate_creator` or add `Colortemplate Options: creator=0` to each template. Then rebuild.

Although I am happy that my plugin has helped you in your extraordinary remaking effort, I don't think that such credit should appear in the color schemes. You have not

[2022-02-08 10:06] habamax commented on #127
This is fine.

I would rather have this before shipping: https://github.com/vim/colorschemes/issues/54 :)

[2022-02-08 10:10] chrisbra commented on #125
Does GUI include (configured) terminals with truecolor capabilities?

[2022-02-08 10:26] habamax commented on #125
@chrisbra if you are into `g:terminal_ansi_colors` then yes.

Although, looks like current vim has an issue with it https://github.com/vim/colorschemes/issues/54#issuecomment-1019834057

[2022-02-08 10:28] chrisbra commented on #125
no I didn't mean terminal colors. I meant If I enable termguicolors, the colorschemes will basically support GUI colors, right?

[2022-02-08 10:33] habamax commented on #125
ah, this one. Not until you re-apply colorscheme -- this has to be addressed by @lifepillar in colortemplate. Hopefully before shipping :)

[2022-02-08 11:15] lifepillar commented on #127
Thanks for reminding me, that went off my radar a bit!

[2022-02-08 13:40] romainl commented on #125
@chrisbra they all support true colors in this scenario:

    " set the option first
    set termguicolors
    " then choose a colorscheme
    colorscheme blue

but AFAIK this scenario is still problematic:

    " choose a colorscheme
    colorscheme blue
    " then set the option
    set termguicolors

I think this must be handled at the colortemplate level.

The problem we have with the problema

[2022-02-08 13:45] habamax commented on #125
I have mentioned here @lifepillar (with regards to colortemplate to fix this) in between of @chrisbra messages and "Later I found out messages were duped" in my browser so I deleted one of it.

Both were deleted :(

[2022-02-08 13:52] romainl commented on #125
"Deleted"?

[2022-02-08 13:54] habamax commented on #125
I have deleted one, but yeah, both were deleted instead.

[2022-02-08 20:49] lifepillar commented on #54
The current Colortemplate's master [fixes this issue](https://github.com/lifepillar/vim-colortemplate/commit/c0fbbe742ea995e6bc2c91633bed395fc6631a25). As proposed by @romainl, `gui` attributes and `g:terminal_colors` are now defined unconditionally.

[2022-02-08 20:57] lifepillar commented on #54
Regarding `g:terminal_ansi_colors` in particular, please tell me what to do: is it ok to always have that variable defined?

[2022-02-08 21:03] lifepillar commented on #125
This is fixed in the current Colortemplate's master. The change is essentially untested (it actually breaks my test suite, but I don't have time to fix it right now). So, please be my guinea-pigs 😁

[2022-02-09 06:20] habamax commented on #125
@lifepillar it has issues. I will describe them in a relevant topic

[2022-02-09 06:35] habamax commented on #125
Actually for legacy colorschemes it works (there are no "dual" colorschemes for both dark and light where there is https://github.com/lifepillar/vim-colortemplate/issues/54 )

[2022-02-09 07:58] romainl commented on #54
@lifepillar in theory yes, as it is supposed to be a harmless, passive, global variable. But [I found out recently](https://github.com/romainl/Apprentice/issues/66) that, at least in some builds, attempts were made by Vim to interpret those colors in situations where it shouldn't, leading to unexpected results.

For that reason I would suggest putting `g:terminal_ansi_colors` behind a guard that p

[2022-02-09 08:16] lifepillar commented on #125
Ok, reverted to previous master for now. I'll test it more in a separate branch. Discussion at Colortemplate's repo is [here](https://github.com/lifepillar/vim-colortemplate/issues/54) (thanks for opening the issue!).

[2022-02-09 08:18] romainl commented on #127
As it stands, Colortemplate is the closest we have to an official colorscheme authoring tool so I don't mind having a little signature. If anything, it might push the curious to use it, which would be a net positive IMO.

[2022-02-09 08:18] #127 closed

[2022-02-09 16:15] lifepillar commented on #127
Ok. I'm thinking to move the comment at the bottom of the color scheme rather than at the top, next to the rest of the comments.

[2022-02-12 11:59] habamax commented on #125
@chrisbra we've fixed `termguicolors` to be applied immediately using all builtin colorschemes.

[2022-02-12 12:06] habamax opened #129 "blue.vim 256c uses ctermfg=15 for Statement"
`guifg` is `#ffffff` so I think for 256c it should be `ctermfg=231`

[2022-02-12 12:24] #129 closed

[2022-02-12 12:28] romainl commented on #125
Message sent to [vim_use](https://groups.google.com/g/vim_use/c/ZnDPSwUlj5I/m/ccTYwBJYAQAJ) and [vim_dev](https://groups.google.com/g/vim_dev/c/o6sUk4s85D4/m/h_PGXfbDBQAJ).

[2022-02-12 12:28] #125 closed

[2022-02-12 13:32] lifepillar opened #130 "Validate color schemes with Vim's check_colors script"
I have checked a few color schemes with `check_colors.vim`, and they do not pass validation. I am not sure what the status of that script is (I am using Vim 8.2.2683), but I think that at least a few of the warnings need to be taken care of. For instance:

- should `debugBreakpoint`, `diffAddeddebugPC` and `debugBreakpoint` be defined in a color scheme? If that is the case, then the check made by

[2022-02-12 13:47] romainl commented on #130
(I edited your message to help addressing your points by their number)

1. My opinion is that every highlight group provided by and documented should be **definable**. If you can do `:help hl-debugBreakpoint`, then you can do `:hi debugBreakpoint ctermbg=…`.

   I think `check_colors.vim` should be modified to make the above possible.

2. Thank you for the heads-up, I'll double-check.
3. This is d

[2022-02-12 13:50] romainl commented on #130
Previous discussions regarding `check_colors.vim`:

- https://github.com/vim/colorschemes/issues/35
- https://github.com/vim/colorschemes/issues/31

Current PR:

- https://github.com/vim/colorschemes/pull/119

[2022-02-12 13:53] habamax commented on #130
I think it already could be included. All the finishing touches we can fix along the way.

[2022-02-12 15:00] lifepillar commented on #130
Currently, Colortemplate doesn't try to reorder the highlight groups, so the output is always in source order. One difficulty in automating that stems from the fact that, in general, a template my contain arbitrary verbatim code blocks, so the order of declarations in the source is important. The by now mythical v3 will most likely deal with (3), however, by automatically sorting definitions (but

[2022-02-12 15:02] lifepillar commented on #130
Ah, and I agree with you about (1) and (4), so `check_colors.vim` should be updated to solve those.

[2022-02-13 19:29] romainl commented on #54
@jeanluc2020 If you have time, could you try again with the master branch?

[2022-02-13 19:53] jeanluc2020 commented on #54
Thanks, looks much better now. Also switching from vim inside an xterm to gvim via :gui now works perfectly.

[2022-02-14 12:41] romainl opened #132 "TODO for inclusion of the remakes"
- [ ] Review all relevant colorscheme-related documentation in vim/vim for bad practices and whatnot.
- [x] Review `colors/README.txt`.
- [x] Update `.github/CODEOWNERS`.

[2022-02-14 14:39] habamax commented on #132
related #117

[2022-02-14 19:57] gdupras opened #133 "QuickFixLine identical to Search or CursorLine in most colorschemes"
Some examples below in gVim, with `:set cursorline` and `/link`.

With `blue.vim`, `QuickFixLine` and `Search` are identical:

![QuickFixLine_Search](https://user-images.githubusercontent.com/57042631/153936177-5cc67a81-f4d9-4133-ac98-3f2d6b6b447e.png)

With `industry.vim`, `QuickFixLine` and `CursorLine` are identical:

![QuickFixLine_CursorLine](https://user-images.githubusercontent.com/57042631

[2022-02-14 20:39] romainl commented on #133
Thank you.

- In a regular buffer, there is only one "current horizontal thing": the current line.
- In a quickfix buffer, there are two of those: the current line and the current quickfix item.

Using CursorLine is wrong because the two can be next to each other, as in your second screenshot, and using Search is also wrong because it makes it impossible to see a match.

@gdupras do you have a sug

[2022-02-14 20:47] romainl commented on #133
I think I've got a good one for blue.vim:
<img width="815" alt="Capture d’écran 2022-02-14 à 21 46 41" src="https://user-images.githubusercontent.com/344335/153943858-0c6f73f0-d1ad-4c5a-93f8-8f079c6e9c3d.png">

[2022-02-14 21:17] gdupras commented on #133
@romainl Your screenshots look good to me.

[2022-02-15 06:41] habamax commented on #133
## Search vs quickfixline

darkblue
![image](https://user-images.githubusercontent.com/234774/154006172-8fa681cb-3415-46f0-a494-73986941c556.png)

elflord:
![image](https://user-images.githubusercontent.com/234774/154006257-eefce67b-8544-4a52-bf51-c8860c5c13b9.png)

evening:
![image](https://user-images.githubusercontent.com/234774/154006300-929d9921-bb6d-4b92-934b-503030363743.png)

koehler:
![im

[2022-02-15 07:22] habamax commented on #133
@romainl Check my PR (Note I didn't touch blue.vim and industry.vim)

Let me know if I should fix them too.

[2022-02-15 07:26] habamax commented on #133
as a side note, probably `sample_quickfix.vim` should be added to the repo. Or it should be combined with existing samples.

[2022-02-15 08:11] habamax commented on #133
And yeah, many of the OG have the same issue

[2022-02-15 08:26] habamax commented on #133
@romainl industry is fixed too.

Now I am not so sure for blue. What I see on your screen is that QuickFixPre is magenta and IncSearch is darkmagenta.

Did you change IncSearch from magenta to darkmagenta?

PS, for me it doesn't look that good as it is too dark:

![image](https://user-images.githubusercontent.com/234774/154022240-a8b43240-059c-4c40-bf59-105c1ac540b9.png)

[2022-02-15 08:32] habamax commented on #133
Well, for now I made it the same magenta:

![image](https://user-images.githubusercontent.com/234774/154023103-9f6b9c6a-da46-4e4d-ad22-b83bb2b9340d.png)

Let me know if this has to be changed.

[2022-02-15 13:16] romainl commented on #133
Thanks, I will check it out tonight.

[2022-02-16 07:19] romainl commented on #133
@gdupras all the remakes that needed a fix are now fixed on master.

[2022-02-16 12:18] habamax commented on #132
Should we create a PR first with all the colorschemes then add one by one codeowners, help topics changes and colors/README?

[2022-02-16 12:40] romainl commented on #132
I think we can plan for a first PR with:
- the colorschemes
- an updated README.txt
- an updated CODEOWNERS

The rest of the documentation can wait a bit (if it needs to be fixed).

What about the `sample_*.vim`? Shall we add them to the PR or shall we keep them here?

[2022-02-16 12:41] habamax commented on #132
Agree.

We should keep it here.

[2022-02-16 12:45] habamax commented on #133
@gdupras let us know if QuickFixLine should be changed further.

[2022-02-16 12:45] #133 closed

[2022-02-16 12:55] romainl commented on #31
@brammool, currently, the `check_colors.vim` script flags attempts to style `debugPC` and `debugBreakpoint` despite those highlight groups being documented as follows:

    Colors						*hl-debugPC* *hl-debugBreakpoint*

    The color of the signs can be adjusted with these highlight groups:
    - debugPC		the current position
    - debugBreakpoint	a breakpoint

    The defaults are, when 'backgrou

[2022-02-16 12:58] habamax commented on #31
cc @chrisbra

[2022-02-16 17:27] lifepillar commented on #31
@romainl @brammool [It was me](https://github.com/vim/vim/issues/4996#issuecomment-537367986) who added that check. But now that https://github.com/vim/vim/issues/4405 is solved, I do not think there is any reason why they shouldn't appear in a color scheme. It is probably a good idea, instead, that they are always defined, at least for color schemes included in Vim.

[2022-02-17 08:42] habamax opened #137 "doc/xterm256-palette.txt"
Do you think it would be a good idea to add list of xterm256 colors into `doc/` dir so it would be avail with `:h xterm256`?

![image](https://user-images.githubusercontent.com/234774/154437897-8a562e5a-c22e-4ffc-a9b6-fdfe855ae54d.png)

![image](https://user-images.githubusercontent.com/234774/154437965-057986c0-1d08-425f-8de0-6d299b9888cb.png)

[2022-02-17 09:55] romainl commented on #137
I like the idea.

The "xterm palette" and the "X11" palette are not only different but also mostly incompatible. Therefore I find it risky and misleading to assign X11 names to xterm indices. For example, X11 LightCyan3 is #B4CDCD but in your screenshot it is shoehorned into xterm as #AFD7D7, which is close, yes, but not equal. Basically, xterm colors don't have names.

If we provide a color conve

[2022-02-17 09:59] habamax commented on #137
yeah, I can use that wikimedia source (removing the X11 names) just plain 256->rgb

[2022-02-17 12:32] #31 closed

[2022-02-17 12:32] #35 closed

[2022-02-18 06:53] habamax commented on #132
Nothing so far.

Nothing.

Documentation fixes maybe? Or we can postpone it?

Example:
[code]
this will not work, we don't use 'khaki' color.

[2022-02-18 06:54] habamax commented on #132
Let's just create PR and update it if any changes would be requested by @chrisbra or @brammool

[2022-02-18 06:56] habamax commented on #132
@chrisbra fyi, there are no settings for the colorschemes we remade -- no documentation is needed for them specifically.

[2022-02-18 08:40] romainl commented on #132
That `v:colornames` feature, and its documentation, is even less relevant than when it was added now that all the bundled colorschemes only use hexadecimal notation. The only scenario where It might still be vaguely relevant is when using the `default` colorscheme in GUI.

I am not sure what to do about it. The verbiage kind of implies that `v:colornames` is *the* way to customize colors but even

[2022-02-18 12:14] habamax opened #139 "highlight debugPC, debugBreakpoint"
Not urgent but those have to be highlighted too.

[2022-02-18 17:05] lifepillar commented on #130
Likely a typo (should have been just `debugPC`).

[2022-02-19 06:52] gdupras opened #140 "Issues with SpellBad, SpellCap, SpellLocal, SpellRare"
Those highlight groups are often:
- hard to read or unreadable,
- not visible,
- not distinct enough from one another.

Steps to reproduce the images below:

1. Create a file called `en.utf-8.add` that only contains:
[code]
2. `:mkspell en.utf-8.add`
3. Create a file called `spell_test.txt` that contains:

[code]
4. Do
[code]
This shows the Spell groups with the default colorscheme. The groups are

[2022-02-19 07:34] habamax commented on #140
@romainl is it time for a `sample_spell.vim`? :)

[2022-02-19 08:23] habamax commented on #140
# WIP

ron:
![image](https://user-images.githubusercontent.com/234774/154793088-24cbcaf5-6de1-400a-b115-e09b86f9f8aa.png)

[2022-02-19 08:27] romainl commented on #140
Thank you @gdupras for your detailed reports.

[2022-02-19 08:40] romainl commented on #140
I'm not super comfortable with the background color, it may clash with other groups like incsearch or quickfixline.

Anyway, let's get on with that `sample_spell.vim` ;-).

[2022-02-19 09:54] habamax commented on #140
@romainl pls check

@gdupras could you pls also check fix/spell branch?

[2022-02-19 10:07] habamax commented on #140
and indeed, nice catch, @gdupras, thank you!

[2022-02-19 13:53] neutaaaaan commented on #139
`Debug` and  `debugBreakpoint` as well.

[2022-02-19 15:24] romainl opened #143 "Diff critique"
Is there anything wrong with these?

<img width="1551" alt="Capture d’écran 2022-02-19 à 15 51 26" src="https://user-images.githubusercontent.com/344335/154807122-3d254fda-7642-4d7f-a436-ed9df0d1e93e.png">
<img width="1551" alt="Capture d’écran 2022-02-19 à 15 51 34" src="https://user-images.githubusercontent.com/344335/154807124-22619a62-4d37-41fd-9ccc-21afca2a8504.png">
<img width="1551" alt

[2022-02-19 15:26] romainl opened #144 "Messages critique"
Is there anything wrong with these?

<img width="830" alt="Capture d’écran 2022-02-19 à 16 03 27" src="https://user-images.githubusercontent.com/344335/154807252-3b0856eb-d25d-42f4-b33d-f1fa4edc44b4.png">
<img width="830" alt="Capture d’écran 2022-02-19 à 16 03 33" src="https://user-images.githubusercontent.com/344335/154807255-53e043ea-cbcf-4d5f-92c1-96b60f706bab.png">
<img width="830" alt="C

[2022-02-19 15:28] romainl opened #145 "Misc critique"
Is there anything wrong with these?

<img width="1551" alt="Capture d’écran 2022-02-19 à 15 37 50" src="https://user-images.githubusercontent.com/344335/154807345-f34821a4-806a-4fe9-88de-8fee8af884cb.png">
<img width="1551" alt="Capture d’écran 2022-02-19 à 15 38 05" src="https://user-images.githubusercontent.com/344335/154807352-9b7ec283-3584-4549-aa29-d16f4cfce062.png">
<img width="1551" alt

[2022-02-19 15:30] romainl opened #146 "Popupmenu critique"
Is there anything wrong with these?

<img width="1075" alt="Capture d’écran 2022-02-19 à 16 09 23" src="https://user-images.githubusercontent.com/344335/154807405-30bf6c7e-505e-40fd-b2b9-960fa6994819.png">
<img width="1075" alt="Capture d’écran 2022-02-19 à 16 09 30" src="https://user-images.githubusercontent.com/344335/154807409-2d095a1d-95f3-42e8-ab88-59079fe87260.png">
<img width="1075" alt

[2022-02-19 15:32] romainl opened #147 "Quickfix critique"
Is there anything wrong with these?

<img width="1075" alt="Capture d’écran 2022-02-19 à 16 12 05" src="https://user-images.githubusercontent.com/344335/154807491-44ccfa84-9919-44f8-b11a-0e957b4e8b16.png">
<img width="1075" alt="Capture d’écran 2022-02-19 à 16 12 17" src="https://user-images.githubusercontent.com/344335/154807499-fc6452ce-a4fa-4fa6-b474-d2cca02f0edf.png">
<img width="1075" alt

[2022-02-19 15:34] romainl opened #148 "Windows critique"
Is there anything wrong with these?

<img width="1075" alt="Capture d’écran 2022-02-19 à 16 18 02" src="https://user-images.githubusercontent.com/344335/154807577-b1afae56-663d-4b33-89e8-13bafb8e799d.png">
<img width="1075" alt="Capture d’écran 2022-02-19 à 16 18 21" src="https://user-images.githubusercontent.com/344335/154807583-525dc7e0-7010-49c8-9d1d-fdd470969e32.png">
<img width="1075" alt

[2022-02-19 15:36] romainl commented on #148
(missing a few screenshots, I may have hit a GitHub limit or something)

[2022-02-19 16:40] habamax commented on #143
They are OK, could be improved in the future, probably.

[2022-02-19 16:42] habamax commented on #144
slate has an issue

and some more I have to identify (can't figure them out by just a screenshot)

[2022-02-19 16:47] habamax commented on #144
Well actually, everything else looks OK (not perfect as we could make all messages to be different, but still not a big issue)

[2022-02-19 16:49] habamax commented on #145
Colorcolumn should be improved for:
* darkblue
* torte

[2022-02-19 16:50] habamax commented on #146
Looks ok for me

[2022-02-19 16:51] habamax commented on #147
Looks ok for me

[2022-02-19 16:52] habamax commented on #148
Looks ok for me, but I do miss StatuslineNC

[2022-02-19 17:00] #140 closed

[2022-02-19 20:18] romainl commented on #148
You are right, I will add another split for that.

[2022-02-20 08:46] habamax commented on #145
Colorcolumns of darkblue and torte are fixed:

torte
![image](https://user-images.githubusercontent.com/234774/154835155-792f5990-0c85-42f8-9292-021a65129bc2.png)

darkblue
![image](https://user-images.githubusercontent.com/234774/154835170-72a6cda1-7898-45d8-b7b7-7ed017dc5934.png)

[2022-02-20 08:58] habamax commented on #144
`ron` has been fixed:
![image](https://user-images.githubusercontent.com/234774/154835484-e0c356be-868e-4e78-9d7f-47bc54f97831.png)

[2022-02-20 08:59] habamax commented on #144
Everything else is more or less ok.

[2022-02-20 14:16] lifepillar commented on #144
Curiosity: why is it the background of the info text in ron and a few other themes different from the the background? Or maybe is the background different from Normal's bg?

[2022-02-20 14:22] habamax commented on #144
@lifepillar it is `EndOfBuffer` being different to `normal` as was in OG I guess.

[2022-02-20 14:23] habamax commented on #144
And actually no, OG at least for ron has no that issue.

[2022-02-20 14:24] habamax commented on #144
Will double check it (`morning` for sure had different afair)

[2022-02-20 16:26] lifepillar commented on #143
You have been able to use the same diff colors in all color schemes! That's… remarkable!

Which highlight group corresponds to `urr` in the screenshots? That's white-on-red in most color schemes, but it is red-on-white in five of them (elflord and others). Is that intentional?

[2022-02-20 16:33] lifepillar commented on #143
Ah, I see, it's `Error`. Fine, then, I guess,

[2022-02-20 18:00] habamax commented on #144
That is actually OG of GUI version of ron that we made into 256c too.

[2022-02-20 18:14] habamax commented on #144
Add some more fixes

morning:
![image](https://user-images.githubusercontent.com/234774/154857340-01064a97-5c88-48f2-948b-86d9c93688b5.png)

shine:
![image](https://user-images.githubusercontent.com/234774/154857366-4aef4212-f1ac-46cd-a88e-48821ce029a7.png)

slate:
![image](https://user-images.githubusercontent.com/234774/154857387-094bc9ba-33e3-4c88-a729-00d75f36b950.png)

pablo:
![image](https:/

[2022-02-20 19:39] romainl commented on #143
Thanks!

[2022-02-22 16:42] gdupras opened #150 "Some incorrect background colors with some 16c colorschemes"
The following screenshots were obtained on Windows 10 in cmd.exe.

Steps:

1. `vim --clean colors\blue.vim`
2. `:source colors\blue.vim` (or some other colorscheme)
3. `:terminal`

# blue.vim

- Red background in terminal window.
- Black background for some highlight groups.

![blue](https://user-images.githubusercontent.com/57042631/155177797-ca8ce21e-3948-4552-8902-ee68c5d58611.png)

# delek.vim

[2022-02-22 17:18] habamax commented on #150
red bg... I am not sure if fixing this is in our hands:

![vim-term-colors](https://user-images.githubusercontent.com/234774/155184070-0d5e4c05-e4e8-4ed4-89a8-2db56f9bb4a0.gif)

[2022-02-22 17:26] habamax commented on #150
@chrisbra what do you think about red/blue inversion of colors in console vim with 16c ?

Should we think about workarounds or believe it might be fixed sometimes in the future in vim (if this is bug at all)?

[2022-02-22 17:30] chrisbra commented on #150
I would guess this is clearly a bug

[2022-02-22 17:31] chrisbra commented on #150
does it change with 256colors?

[2022-02-22 17:36] chrisbra commented on #150
interesting `:hi Terminal` shows the correct colors.

[2022-02-22 17:38] habamax commented on #150
It doesn't at all if I use `ctermbg` but does change if I use `guibg`:
![vim-term-colors2](https://user-images.githubusercontent.com/234774/155187587-2d0c95b8-e600-4aff-84ef-f232e2f42552.gif)

[2022-02-22 17:46] habamax commented on #150
@chrisbra it is not only red/blue, but also cyan/yellow

[2022-02-22 17:53] chrisbra commented on #150
that is interesting. especially if you throw in https://github.com/vim/vim/issues/9498 (e.g. after `:set termguicolors`, `:set notermguicolors`) you would need to start specifying the `gui` attributes for the terminal 🤦‍♂️

Wow, how brocken...

[2022-02-22 20:30] romainl commented on #150
FWIW, the red/blue-cyan/yellow switches in the windows console is the reason why we use color names for 16c `cterm*g`.

With the default palette, using 1 gives you a dark blue instead of the expected dark red but using `darkred` gives you the expected dark red.

<img width="443" alt="Capture d’écran 2022-02-22 à 21 24 25" src="https://user-images.githubusercontent.com/344335/155213308-69ad7db9-c

[2022-02-22 20:32] romainl commented on #150
@habamax I only have access to an older W10 machine where I can't install the Window console, sorry.

[2022-02-23 05:53] habamax commented on #150
The issue is with regular `cmd.exe` not new windows terminal.

[2022-02-23 06:14] habamax opened #151 "windows cmd.exe and bold"
Bold syntax elements in windows `cmd.exe` have "unexpected" background when `t_Co=16` which is "default":

blue, for example

![image](https://user-images.githubusercontent.com/234774/155269490-bd10f768-32be-4fe8-8ade-74cba23cc97b.png)

morning
![image](https://user-images.githubusercontent.com/234774/155269606-14d325b5-8500-402d-9983-3abc4645d05c.png)

(I have non-standard palette, thus colors ar

[2022-02-23 06:16] habamax commented on #151
Or suggest everyone on `cmd.exe` to `set t_Co=256` or `set termguicolors`?

[2022-02-23 11:49] lifepillar commented on #151
How broken. Out of curiosity: can you double-check underline? Is it supported?

[2022-02-23 13:55] habamax commented on #151
@lifepillar
![image](https://user-images.githubusercontent.com/234774/155333289-c4a20345-7359-4a9d-a096-2a89945b7831.png)

[2022-02-23 13:58] habamax commented on #151
and with `t_Co=256`
![image](https://user-images.githubusercontent.com/234774/155333880-bd90612c-944f-4404-9925-cea6074ef28d.png)

[2022-02-23 15:40] habamax commented on #151
Blue is configured that way -- identifier and comment have the same color, comment is bold though.

[2022-02-23 15:45] lifepillar commented on #151
That should probably be fixed, then, unless it is ok for the two to have the same color (and attributes). Even modern terminals can be configured not to use boldface, and some users [prefer to avoid bold fonts](https://github.com/lifepillar/vim-gruvbox8/issues/14).

[2022-02-23 16:12] habamax commented on #150
* Red terminal background in blue.vim should be fixed upstream (in vim)
* Bold syntax elements with alien backgrounds -- probably should stay as is. Users should be suggested to use `set t_Co=256` or `set termguicolors` in their vimrcs (???)

[2022-02-23 17:12] gdupras commented on #150
I've reported the issue upstream.

[2022-02-27 09:22] #137 closed

[2022-02-27 10:50] #151 closed

[2022-03-04 19:44] bill-hudacek commented on #143
Lifepillar wrote on 2/20/22 11:26 AM:

Not trying to hijack - it seems this could be a 'theme' (no pun
intended) - for me, vimdiff/gvimdiff coloring is an issue.

Working from the same git repo, updated just now as a sanity check.

I love gvimdiff. I run linux, right now it's Fedora 35. I have VIM
with ver:

Vi IMproved 8.2 (2019 Dec 12, compiled Feb 21 2022 00:00:00)
Included patches: 1-4428
Modi

[2022-03-04 21:52] romainl commented on #143
@bill-hudacek Could you add the screenshot that you mentioned to your message here in the issue tracker?

[2022-03-05 15:10] bill-hudacek commented on #143
Here's one I created just now. Looks a lot like OP's screencaps. Assuming this is intentional, the wonderful way DiffText shows as the same despite colorscheme choice means there's hope that I can find that one spot where it's configured --- and tailor it to my own preferences.  Right??? :-)

![2022-03-05-001-GVIMDIFF-two-ps-listings](https://user-images.githubusercontent.com/4131887/156889125-1b1

[2022-03-05 15:19] habamax commented on #143
Not eye candy but still readable.

Every colorscheme could be tailored https://gist.github.com/romainl/379904f91fa40533175dfaec4c833f2f

Given the fact most of the built-in colorschemes have broken diff colors (either in gui or in 256c tui or in 16c tui or in all modes) we came up with "readable" unified diff colors. And indeed they are not super pleasant.

In the second and following iterations w

[2022-03-05 15:20] habamax commented on #143
maybe we should tone down DiffChange background though

[2022-03-05 15:38] bill-hudacek commented on #143
Count me in on 'help from other vim users' :-)

Using that gist page, I added an override. It works - on startup (screencap attached).

However, every colorscheme change after startup reverts back to white-on-green.

Here's the portion of my .gvimrc where I set this up:

if (&foldmethod == 'diff')
   augroup MyColors
   autocmd!
    autocmd ColorScheme * highlight DiffText cterm=NONE term=reverse

[2022-03-05 16:11] romainl commented on #143
@bill-hudacek the following should be enough to make your fix permanent:

    augroup MyColors
      autocmd!
      autocmd ColorScheme * highlight DiffText cterm=NONE term=reverse cterm=reverse ctermfg=40 ctermbg=231   gui=reverse   guifg=#000000 guibg=#32cd32
    augroup END
    colorscheme peachpuff

But you should:

- put it in your `vimrc` instead of your `gvimrc`,
- drop the conditional chec

[2022-03-05 16:30] romainl commented on #143
@habamax how about black on light grey?

16c:
<img width="1418" alt="Capture d’écran 2022-03-05 à 17 28 13" src="https://user-images.githubusercontent.com/344335/156891919-20e8c35a-dc32-40b6-bbd3-b97aeb495961.png">

GUI:
<img width="1699" alt="Capture d’écran 2022-03-05 à 17 29 09" src="https://user-images.githubusercontent.com/344335/156891921-fb9071ae-5d25-41ab-a07a-eff278f2af96.png">

[2022-03-05 16:33] habamax commented on #143
Looks better

[2022-03-05 18:50] bill-hudacek commented on #143
@romainl - Tried that - moved to .vimrc outside of foldmethod. Still reverts.  Verbose=99 shows 'hi clear' in at least 'elflord.vim', maybe in all others. Does that clear my augroup/autocmd's?

This is still kind of a mystery to me.

[2022-03-05 18:58] romainl commented on #143
@bill-hudacek it does, but then the `ColorScheme` event is triggered and thus associated autocommands.

[2022-03-05 20:53] bill-hudacek commented on #143
This is frustrating for me ----- maybe I'll just wait until you update the config in git to use some other color(s). Then I can diff the versions and see what you changed. Clearly, my override(s) are not 'sticking'. It might be something in my own config here. There's 20 years of entropy - cruft - so running 'clean' and then finding the issue sounds painful to me :-/

[2022-03-10 07:26] habamax opened #153 "CursorLineSign, CursorLineFold"
I am not sure when they appeared, but we don't have them explicitly highlighted in remakes.

+ they should probably be added to `check_colors.vim`

[2022-03-10 09:00] romainl commented on #153
Thanks.

[2022-03-12 10:49] romainl commented on #153
@habamax, would you have a screenshot of what they look like in practice?

[2022-03-12 21:24] lifepillar commented on #153
Good catch! They were added in Vim 8.2.3664 (e413ea04b716effb28eb49dbc98ad3f9f761545a) on November 24, 2021.

[2022-03-23 12:52] craigmac opened #156 "TabLineSel not defined at startup with option `set showtabline=2` causes wrong colouring"
I discovered this issue when tweaking some tabpage stuff, and originally filed an issue [against vim-habaurora](https://github.com/habamax/vim-habaurora/issues/2). You can see images there of what happens, recreated here as well using the new peachpuff. Basically, if TabLineSel is not explicitly defined, that is, not "NONE", then the TabLineSel highlighting if off when `set showtabline=2` in vimrc

[2022-03-23 12:55] habamax commented on #156
@romainl I am not sure if this is vim bug or not, but the workaround is to explicitly define:

[code]
Instead of

[code]

And in all my environments I don't have this thing (win gui, wsl tui)

[2022-03-23 13:03] craigmac commented on #156
[code]

[2022-03-23 15:51] romainl commented on #156
Let's define the attributes explicitly. But I'm quite surprised that we don't do it already.

[2022-03-23 16:33] habamax commented on #156
Well we do define them explicitly to `NONE` `NONE` :) but yeah, I will update colorschemes later in a sep branch.

[2022-03-24 09:59] #156 closed

[2022-03-28 00:59] gdupras opened #158 "sample_terminal.vim doesn't do anything useful"
When I run the suggested command in sample_terminal.vim,
[code]
I get an empty terminal buffer. I feel like this script is incomplete but I might be doing something wrong.

I'm using Konsole on Kubuntu. `msgcat --version` says 0.21.

[2022-03-28 06:16] romainl commented on #158
`$ msgcat --color=test` is supposed to output something like that (partial screenshot):

<img width="567" alt="Capture d’écran 2022-03-28 à 08 12 35" src="https://user-images.githubusercontent.com/344335/160337046-933108ed-d4d1-45b5-b119-3db7cc3e1c06.png">

I used that command because it seemed to be widely available and quite convenient but, if it doesn't work for you, we should probably look f

[2022-03-29 00:10] gdupras commented on #158
Interesting. I've tried doing `msgcat --color=test` directly in a few terminals (i.e. *not* in Vim's terminal window). I got the output you posted in:

- Windows subsystem for Linux (WSL) on Windows 10, with Ubuntu 20.04.

I got no output at all in:

- Konsole on Kubuntu 21.10
- Msys2 on Windows 10
- Mingw64 on Windows 10
- Git Bash on Windows 10
- cmd.exe on Windows 10

Searching online a bit, I

[2022-03-29 06:54] romainl commented on #158
Well, I use `msgcat` 0.21 on Mac OS and it works perfectly so `¯\_(ツ)_/¯`.

If you can find or write a working cross-platform alternative that shows *at least*:

- colors 0 to 15
- normal, bold, italic, underline, reverse

I will gladly replace the current command.

[2022-03-29 18:04] gdupras commented on #158
Hmm, I guess I'll wait until Kubuntu 22.04 is out next month and see if that version has the same issue.

But for a more portable solution, maybe we could open a second Vim instance, inside the terminal window, and source a script that shows the different colors. Something like this:

[code]

Anyway, I'm just thinking out loud. I'll see something like this could work.

[2022-04-10 07:15] habamax opened #159 "New highlight: CurSearch"
New hl group has just landed: https://github.com/vim/vim/pull/10133

By default it is linked to `Search`.

![vim-cursearch](https://user-images.githubusercontent.com/234774/162606952-96e79497-4e20-4107-afb7-6496b19e8415.gif)

[2022-04-10 08:14] romainl commented on #159
Hmm… the cursor already made that information clear. *Sigh*.

[2022-04-10 08:54] habamax commented on #159
Todo: link it to IncSearch for all remakes

[2022-04-10 14:53] gdupras opened #161 "sample_spell.vim review"
The Normal, String, and Comment groups are the ones that are most often spell checked so the Spell groups should look good on those.

For this review, I used `sample_spell.vim` as modified in PR #154.

For each colorscheme, I looked at three environments:

- gVim:

    gvim --clean -S colors/blue.vim -S colors/tools/sample_spell.vim

- 256c:

    vim --clean -S colors/blue.vim -S colors/tools/samp

[2022-04-10 15:09] romainl commented on #161
Thank you for this thorough report. I will take a look at it right now.

[2022-04-10 15:56] romainl commented on #161
Let's see… the default colors are:

Case | cterm light | cterm dark | gui light | gui dark
---|---|---|---|---
Cap | lightblue | blue | X11 blue | X11  blue
Local | cyan | cyan | X11 darkcyan | X11 cyan
Rare | lightmagenta | magenta | X11 magenta | X11 magenta
Bad | lightred | red | X11 red | X11 red

I think we should try to stick with those as much as possible and only deviate when strictly nece

[2022-04-11 11:31] romainl commented on #161
@gdupras FWIW, I can reproduce the termguicolors issue but it goes away after a ^L or some visual selection so it looks more like a redrawing issue to me than like a real issue with these colorschemes.

Maybe that's something worth investing in its own right.

[2022-04-11 13:24] gdupras commented on #161
Hmm, weird. I cannot reproduce the termguicolors issue in cmd.exe on Windows 10. I'll have to try again in Konsole later today once I get back home.

[2022-04-12 00:22] gdupras commented on #161
With Konsole, the termguicolors issue does *not* go away with ^L or with a visual selection.

With a visual section, the problematic Spell groups don't even change colors. Here's an example with blue.vim:

![Screenshot_20220411_201725](https://user-images.githubusercontent.com/57042631/162853845-d4befca0-2a49-4e58-a2a0-51ee9666fa85.png)

I have no idea what is causing this.

[2022-04-12 06:56] romainl commented on #161
I also have similar troubles with my own Apprentice in iTerm with termguicolors enabled.

Before ^L:

<img width="736" alt="Capture d’écran 2022-04-12 à 08 51 26" src="https://user-images.githubusercontent.com/344335/162898587-3ebde7a3-2ab8-4068-8073-8023381121b2.png">

After some random click with the mouse to put the window into focus:

<img width="750" alt="Capture d’écran 2022-04-12 à 08 5

[2022-04-12 07:49] romainl commented on #161
Here is a reduced version of Apprentice with only the strict necessary for testing `sample_spell.vim`:
[spellingbee.vim.txt](https://github.com/vim/colorschemes/files/8470434/spellingbee.vim.txt)

How it looks in 256c:
<img width="717" alt="Capture d’écran 2022-04-12 à 09 28 08" src="https://user-images.githubusercontent.com/344335/162904866-97e15f41-b94d-431a-82d6-42e41b2c6632.png">

How it loo

[2022-04-12 18:37] lifepillar commented on #161
I can reproduce it in iTerm2 with my own color schemes (which do not visually distinguish among the different spelling errors).

#### WWDC16

At startup:
<img width="731" alt="Screenshot 2022-04-12 at 20 27 21" src="https://user-images.githubusercontent.com/1193314/163029316-1f0991f8-c972-496f-b234-ac131edfccfe.png">

After CTRL-L:

<img width="731" alt="Screenshot 2022-04-12 at 20 27 37" src="htt

[2022-04-12 19:11] lifepillar commented on #161
FWIW, a `vimrc` containing only these lines:

[code]

is enough to reproduce the issue with:

[code]

but not with:

[code]

I propose to change the command to run the spelling test to:

[code]

unless there is a valid reason for the current syntax. Note `-u` instead of `-S`.

[2022-04-12 19:24] romainl commented on #161
Calling the sample with `-u` is a good idea. I think a truecolors-enabled variant of `sample_spell.vim` might be in order.

[2022-04-12 19:28] lifepillar commented on #161
Maybe something like this could be added to `sample_spell.vim`:

    set rtp^=.
    execute "colo" $COLORSCHEME

Then call it with:

    $ COLORSCHEME=blue vim --clean -u colors/tools/sample_spell.vim

Still not perfect, but just to point out another possibility.

[2022-04-12 19:45] lifepillar commented on #161
Now I see that nothing of what I have proposed above prevents the issue when `termguicolors` is set. I need to look at it with a fresh mind. Maybe it is something worth reporting upstream.

I don't know whether you mean that a different script is needed for `termguicolors`. I'd try to stick with one script for all use cases.

[2022-04-17 13:14] romainl commented on #161
@gdupras I think I have fixed all the fixable issues. Could you check it out?

[2022-04-19 23:12] gdupras commented on #161
Yes, I will take a look.

The issues with termguicolors have been fixed upstream in [8.2.4775](https://github.com/vim/vim/commit/280aebfd356c4fc8b84f13314068411157ad72f2) and [8.2.4777](https://github.com/vim/vim/commit/366f0bdd08ae8f4aec38bca6b02ba41adae6ffce).

[2022-04-20 05:43] romainl commented on #161
Good news, thanks.

[2022-05-02 06:52] habamax commented on #150
Fixed in https://github.com/vim/vim/issues/9836

[2022-05-02 06:52] #150 closed

[2022-05-11 20:33] #159 closed

[2022-05-11 20:48] romainl commented on #153
OK, so the point of those highlight groups is to visually extend the cursor line through the fold column and the sign column.

I guess we can link them to CursorLine for the time being, at least when CursorLine differs from FoldColumn and SignColumn.

[2022-05-12 07:56] #153 closed

[2022-05-12 13:51] gdupras commented on #161
Sorry, I never had time for a full review but I did notice that in koehler.vim, the color of `guifg` and `guisp` do not match for `SpellCap`:

![koehler](https://user-images.githubusercontent.com/57042631/168090146-0cd661c6-28ec-4e47-88e1-ec500229b1ac.png)

`guisp` should probably be made the same color as `guifg`.

[2022-05-12 14:58] romainl commented on #161
Indeed it should.

[2022-05-12 16:56] romainl commented on #161
Last bug fixed in master.

[2022-05-12 16:56] #161 closed

[2022-05-13 06:41] lifepillar commented on #159
I see that https://github.com/vim/vim/pull/10133 has not been merged. And defining `CurSearch` has no effect with the current Vim master. It seems to me that the feature has been dropped. Can you confirm?

[2022-05-13 06:43] lifepillar commented on #159
Aaah, never mind: now I see how it works. Sorry for the fuss.

[2022-05-14 14:15] habamax commented on #147
Legacies are merged in. Closing.

[2022-05-14 14:15] #147 closed

[2022-05-14 14:16] habamax commented on #148
Legacies are merged in. Closing.

[2022-05-14 14:16] #148 closed

[2022-05-14 14:16] habamax commented on #145
Legacies are merged in. Closing.

[2022-05-14 14:16] #145 closed

[2022-05-14 14:16] habamax commented on #144
Legacies are merged in. Closing.

[2022-05-14 14:16] #144 closed

[2022-05-14 14:16] habamax commented on #143
Legacies are merged in. Closing.

[2022-05-14 14:16] #143 closed

[2022-05-14 14:17] habamax commented on #132
Legacies are merged in. Closing.

[2022-05-14 14:17] #132 closed

[2022-05-14 14:17] habamax commented on #117
Legacies are merged in. Closing.

[2022-05-14 14:17] #117 closed

[2022-05-14 14:18] habamax commented on #146
Legacies are merged in. Closing.

[2022-05-14 14:18] #146 closed

[2022-05-19 12:49] habamax opened #169 ""Broken" colorschemes"
Open here to follow up https://github.com/vim/vim/issues/10449

So far the issue is about transparency and some other things with "light" colorshemes like delek which @sthen experience on rxvt-unicode.

I am not particularly happy with the global variable that should/would control Normal colors so I consider this as a no-go (might be wrong here)

I guess the most viable solution is to **NOT** defi

[2022-05-19 12:52] habamax commented on #169
Just to make it clear, if normal colors would not be defined, colorschemes might have readability issues due to color blending of syntax elements/chrome with the background of terminal.

[2022-05-19 12:53] habamax commented on #169
@neutaaaaan @romainl @chrisbra we need to chose the least wrong fix :)

[2022-05-19 12:55] chrisbra commented on #169
can't we just document, that if one needs transparency add the following `ColorScheme` autocommand that removes the `Normal` colors?

[2022-05-19 12:56] habamax commented on #169
This is *my* preferred solution. If @brammool is ok with this...

[2022-05-19 13:06] benknoble commented on #169
FWIW, we do something similar in github.com/dracula/vim RE: documenting autocommands for customization, and we still get plenty of questions "How do I customize X." If you want to avoid such questions/issues, I might suggest a different approach; on the other hand, if that doesn't bother you, then I think it's a great approach :)

[2022-05-19 18:09] romainl commented on #169
- Shipping transparent alternatives:

  That's a ridiculous idea. I don't want to do it.

- Documenting an autocommand-based workaround:

  I'm OK on principle (after all I have written [that thing](https://gist.github.com/romainl/379904f91fa40533175dfaec4c833f2f)) but I know that it will be ignored and we will have to point at that part of the doc for years.

  On the other hand, I have seen that

[2022-05-19 18:20] habamax commented on #169
I am ok with that, but we all should understand that we will still get "broken" issues for delek, peachpuff, morning and other light colorschemes anyway (provided we will not make them transparent)

[2022-05-19 18:37] habamax commented on #169
And if we remove Normal from gui too (which is also the case as they claim `termguicolors` was set) then gvim would be unusable with these colorschemes as it is by default has white bg.

[2022-05-21 08:46] habamax commented on #169
regarding the rxvt-unicode and delek, I have installed it on Fedora36 ran `vim -Nu NONE +"colo delek"` and it works as expected for me:

![image](https://user-images.githubusercontent.com/234774/169643736-8937463c-edc0-46b8-8908-0e2773ff7889.png)

[2022-05-22 18:03] Aster89 opened #170 "Broken pablo scheme"
I think this might be well a dupe of #169 , but I'll let you decide, as it was suggested on [vi.stackexchange](https://vi.stackexchange.com/a/37528/6498) that I did so.

Below is the commit just before 30ab04e16e1e9e6133590181197b3f8e70cb495e vs 8.2.4981

![pablo](https://user-images.githubusercontent.com/20521900/169709265-91bb9af2-4916-41f5-bf12-fc8435e7f59f.png)

[2022-05-22 18:09] habamax commented on #170
What are your settings for the pablo?
It doesn't have any italics.

Also what is the terminal?

[2022-05-22 18:12] habamax commented on #170
Regarding bold statement, we did it bold only for gui.

https://github.com/vim/colorschemes/blob/5812750e9dacc28cb7f53871654f2be2f500909e/colortemplate/pablo.colortemplate#L90

@romainl, I thing we should check the bold for the rest colorschemes too if we are to bring it back here

[2022-05-22 18:16] habamax commented on #170
@Aster89 So as I answered on your SE question, old pablo is using color=3 which is yellow, which is different for almost anyone. So to unify term and gui we had to have a common ground.

For this xterm default palette was choosed. And yellow is xterm yellow which you can actually see on your second screenshot

[2022-05-22 18:17] romainl commented on #170
@habamax agreed, too bad this comes up so late in the week-end.

@Aster89 you can grab [the original pablo](https://raw.githubusercontent.com/vim/colorschemes/master/legacy_colors/pablo.vim) while we are working on this.

[2022-05-22 18:22] Aster89 commented on #170
I do have some styles that I've manually set via the following and simlar
[code]
so probably that's why you don't fully recognize `pablo` in my screenshots.

URxvt

[2022-05-22 18:25] habamax commented on #170
Bold statement would be fixed, @Aster89

PS, +1 for `au Colorscheme`

[2022-05-22 18:26] Aster89 commented on #170
You mean that the color change was intended but the bold removal was not?

What you mean?

[2022-05-22 18:30] habamax commented on #170
Yes, indeed. And yes, we missed the bold (I checked mostly on gVim, where bold is still present)

That is the proper way to adjust colorschemes, not many of vim users do this.

[2022-05-22 18:34] habamax opened #171 "bold is missing for TUI"
Bold is set only for gui, at least for pablo.

We should check all others too.

https://github.com/vim/colorschemes/issues/170

[2022-05-22 19:01] gdupras commented on #170
Bold was removed because it was causing issues in cmd.exe on Windows, no?

See this issue and comment: https://github.com/vim/colorschemes/issues/150#issuecomment-1052279953

[2022-05-22 19:02] habamax commented on #171
Let it be open for awhile. I think I have fixed all "bold" issues for TUI, but might miss something.

All fixes were related to boldness of Syntax highlight groups.

[2022-05-22 19:12] habamax commented on #170
Yes, indeed. I was too fast to "fix" this issue. Thanks, @gdupras

[2022-05-22 19:13] habamax commented on #170
So yes, now I remember that default cmd.exe has 16c where bold is unusable.

[2022-05-22 19:16] brammool commented on #171
Note that some (old) terminals use bold to indicate a different color.

--
Two fish in a tank. One says to the other:
"Do you know how to drive this thing?"

 /// Bram Moolenaar -- ***@***.*** -- http://www.Moolenaar.net   \\\
///                                                                      \\\
\\\        sponsor Vim, vote for features -- http://www.Vim.org/sponsor/ ///
 \\\            hel

[2022-05-22 19:23] habamax commented on #171
@brammool There is another issue with bold (and this was the main reason we tried to avoid it even if it was present in legacy) -- default experience of vim on cmd.exe is ugly/unreadable for bold syntax elements.

By default vim in cmd.exe is set to `t_Co=16` where bold looks like this, for example:

![image](https://user-images.githubusercontent.com/234774/169712322-60c8e963-183c-47a4-8b7c-b70d36

[2022-05-22 19:25] romainl commented on #171
Assuming 256c in CMD.exe would probably be fine for most people… until someone tries it on Vista or something.

[2022-05-22 19:31] habamax commented on #171
I don't think we could do anything about it, right?

[2022-05-22 19:41] romainl commented on #171
@habamax literally nothing beyond being aware of that when the question pops up.

[2022-05-22 20:32] neutaaaaan commented on #171
Boring story time:
Back in the serial terminal days, bold meant bright, as in *drive the electron beam a bit harder here*. The characters produced were brighter **and also a bit bolder** because of surrounding phosphors being excited.
This is really not something that can be achieved on a modern display, hence (to my knowledge) most terminal emulators defaulting to the bright attribute using a bol

[2022-05-23 06:18] romainl commented on #171
@neutaaaaan thank you for that historical background.

As for  what to do, we are facing a little conundrum, here.

- some remakes are obviously less useful with bold removed so it would seem to be a user-friendly move to bring back bold,
- Vim doesn't  know how to do bold correctly in cmd.exe in its default configuration, which makes all coloschemes relying on bold unusable in that context.

So,

[2022-05-24 06:34] habamax commented on #171
@chrisbra do you think `t_Co=256` for windows cmd is a viable solution?

It would be nice to bring bolds back in a way they work in windows too.

[2022-05-24 07:22] chrisbra commented on #171
I personally think so. Note Vim will currently use cmd.exe with 16 colors until the user has enabled and disabled termguicolors. After that, Vim will silently use 256 colors for cmd.exe already: https://github.com/vim/vim/issues/9498

[2022-05-24 08:11] habamax commented on #171
@romainl @neutaaaaan I guess we can assume, cmd.exe vim would have 256c by default in the future, thus we can/should provide bolds in remade colorschemes

[2022-05-24 10:49] brammool commented on #171
We dropped the support for Windows 95/98/ME.  Windows XP is the oldest
that we keep working.  Does the Windows XP console support 256 colors?

--
Facepalm reply #3: "I had a great time in Manhattan" "I thought you were
going to New York?"

 /// Bram Moolenaar -- ***@***.*** -- http://www.Moolenaar.net   \\\
///                                                                      \\\
\\\        spo

[2022-05-24 11:39] romainl commented on #171
<img width="708" alt="Capture d’écran 2022-05-24 à 13 38 44" src="https://user-images.githubusercontent.com/344335/170026239-b0348ed7-da15-4b89-91c4-0ff38ee67f5d.png">

I will tell you in a few minutes ;-)

[2022-05-24 14:43] habamax commented on #171
These are default first 16 colors that were slightly changed for win10.

cmd.exe support 16, 256 and termguicolors just fine.

It is just when in t_Co=16 it renders bold with different background

[2022-05-24 18:31] brammool commented on #171
At some point it only supported 16 colors.  I still am not sure how to
detect whether more colors actually work.

This article suggests it was introduced in build 14931:
https://devblogs.microsoft.com/commandline/24-bit-color-in-the-windows-console/

Which was an "insiders build", thus not generally available.

--
ZOOT:  I'm afraid our life must seem very dull and quiet compared to yours.
       W

[2022-05-24 20:06] chrisbra commented on #171
According to os_mswin32.c it was build 1703:

https://github.com/vim/vim/blob/78d52883e10d71f23ab72a3d8b9733b00da8c9ad/src/os_win32.c#L7760-L7764

so released about 5 years ago and I would think, that all windows users have that nowadays and we already have all the `has_vtp_working()` conditionals to check if this is available.

But regardless, I just tried the following, in a plain cmd.exe, that

[2022-05-25 06:13] habamax commented on #171
@chrisbra the same. "Transparent" normal for cmd.exe in this case is weirdly incorrect. Works ok for remade legacies as they all have normal defined.

Looks like another obstacle to have 256c by default (unless it would be fixed ofc)

[2022-05-29 13:43] romainl commented on #171
So, it looks like we are back to square one.

The situation:

- The Windows console advertises itself as 16c by default and/or Vim detects 16c by default.
- Vim can't do bold correctly in the Windows console in 16c.
- The Windows console has been 256c-ready for a while.
- Vim can do bold correctly in the Windows console in 256c.
- Vim is backward compatible to Windows XP.
- 256c was added to the W

[2022-05-29 16:33] sandwm opened #172 "No Visual highlight with new themes on tty (t_Co=8)"
When using vim on a Linux tty and pressing `V` (or its variants) I noticed there is no visual indication of which parts of the text are selected. My colorscheme is elflord, but other themes are affected too (see first comment below). The issue started about a week ago, when Arch Linux shipped the new vim version (8.2.4981) which replaced the legacy themes with the new ones.

Here is the output of

[2022-05-29 16:54] sandwm commented on #172
Additional info:

 * `:set t_Co?` gives `t_Co=8` on the tty
 * /usr/share/vim/vim82/colors/elflord.vim is identical to https://github.com/vim/colorschemes/blob/master/colors/elflord.vim
 * The issue affects almost all themes shipped by vim 8.2.4981, except default.
   * These have no highlighting for Visual, as well as several other groups:
      - blue
      - delek
      - desert
      - elflord

[2022-05-29 17:06] habamax commented on #172
Thanks for the report, @sandwm

We aimed for GUI > 256 > 16 > 0 and for some reason missed 8.

I believe, this has to be fixed

[2022-05-29 18:18] brammool commented on #171
Have you tried the patch to use 256 colors in Windows if it should work?
https://github.com/vim/vim/pull/10495

[2022-05-29 18:32] brammool commented on #172
Can you set it to use 16 colors?  What do you mean with "Linux tty", what is 'term' set to?

[2022-05-29 21:54] romainl commented on #172
If memory serves, doing `set t_Co=16` in Vim does the job.

Another name for what OP is talking about is "virtual console" or "virtual terminal" or "VT". You can get there from your desktop environment with Ctrl+Alt+F7, Ctrl+Alt+F8, etc. `$TERM` is usually `linux`, there.

[2022-05-29 22:25] sandwm commented on #172
Yes, like @romainl said, I meant a virtual console like tty1, tty2, ... accessible via Ctrl+Alt+F1, Ctrl+Alt+F2, ...
`$TERM` is `linux`.
`:set t_Co=16` works.

[2022-05-30 11:25] brammool commented on #172
Well, you can set it to 16 colors, but it looks like it really only supports 8.
With the default colors Visual uses background 8, which is just black and not grey.
With 8 colors it uses reverse, which does work.  Thus 16 colors is wrong.

Looks like the color schemes should support 8 colors, there is no workaround.

[2022-05-30 13:15] habamax commented on #172
What would we do with delek, peachpuff, morning, shine, zellner?

[2022-05-30 14:10] romainl commented on #172
Either accept to have it light grey instead of white or `(╯°□°)╯︵ ┻━┻`.

[2022-05-30 14:22] habamax commented on #172
Ah, light grey is available, this might work

[2022-05-30 15:56] habamax commented on #171
I can only test it once it is in nightly build (compiling things on windows is a pain in the back)

[2022-06-04 18:18] habamax commented on #172
To track status:

* [x] pablo
* [x] industry
* [x] elflord
* [ ] blue
* [ ] darkblue
* [ ] delek
* [ ] desert
* [ ] evening
* [ ] morning
* [ ] murphy
* [ ] peachpuff
* [ ] shine
* [ ] slate
* [ ] torte
* [ ] zellner
* [ ] koehler
* [ ] ron

[2022-06-05 23:19] errael opened #179 "peachpuff problems/issues"
I've been using `peachpuff` for years. Built vim a couple weeks ago and it dramatically changed, except for the background:-). PP is (was) a peaceful `colorscheme`, pastel comes to mind. (I'd say desert, but there's a desert which doesn't come close to what I feel when hiking in the desert)  What caught my attention was the diff colors; garish and intrusive; contrary to the feeling of PP. I may be

[2022-06-05 23:46] errael commented on #179
Oh, look. A wiki. Good reading. But I guess the `colortemplate` file is so simple, clear and straightforward, that it doesn't need to be described.

[2022-06-05 23:51] errael commented on #179
Here's three png's I made and I'll upload them to be complete. Before (very boring) and After (a shock to the system). What I'm using so far (pretty cool). I'm wondering about a good way is to tweak a colorscheme; the whole idea being that as schemes/tools evolve my tweaks can evolve with them.
![Screenshot from 2022-05-23 16-04-17](https://user-images.githubusercontent.com/20450427/172075693-0886

[2022-06-06 00:11] errael commented on #179
Oops, colortemplate.txt is where it's happening.

[2022-06-06 05:44] habamax commented on #179
@errael the question is whether you would like to have your own diff colors for yourself, or make it available for everyone.

If the case is to change it for your personal use, it should be fairly simple:

[code]

If the intent is to make it better for everyone else, then yes indeed, this repo uses colortemplate to generate all colorschemes and you need to know basic colortemplate things to contri

[2022-06-06 05:48] habamax commented on #179
@errael regarding the error you are experiencing -- it is expected for now as we are in the process of fixing issues with 8 colors terminals. Unified diff file was changed to be aplied in some of colorschemes that we made 8c ready, and it means the other templates are broken (including peachpuff) till we fix them too.

[2022-06-07 17:31] errael commented on #179
I'm ok with contributing, but I don't see how what I do would fit in. Perhaps it's a question of naming conventions.

One thought is there's several "base" `colorscheme`s and modifications that "subclass" those. It might be that the most important thing is making it easy for users to scan through available colorschemes; if they are hierarchically organized, I could see using the arrow keys to trav

[2022-06-07 17:38] errael commented on #179
If there is a colorscheme browser tool, being able to tweak the colorscheme would be nice. Maybe there's an output option to produce autocommands like you showed, rather than a full colorscheme.

[2022-06-07 18:03] habamax commented on #179
@errael let me make peachpuff 8c aware first and then you can play with its template

[2022-06-08 12:18] habamax commented on #172
@romainl pls check light bg colorschemes

PS, I have to do other things so the last one is on you :)

[2022-06-08 12:39] romainl commented on #172
@habamax thank you for all that great work.

[2022-06-08 14:26] sandwm commented on #172
Thanks to both of you! That looks much better in several places. :)

Unfortunately there's also a regression: SpellBad, SpellCap, SpellRare, SpellLocal lost all highlighting, compared to what's in vim 8.2.5046. (Actually, for SpellLocal that's not really a regression, since previously it had fg color = bg color.) I don't really mind, since I don't do spell checking in a tty, but wanted to note it

[2022-06-08 14:34] habamax commented on #172
This is shine:
![image](https://user-images.githubusercontent.com/234774/172643260-3411a5f9-4c6b-409e-8495-1f26c4f4c929.png)

desert:
![image](https://user-images.githubusercontent.com/234774/172643347-1be24505-d4e7-4603-8f8a-187182f8eb49.png)

evening
![image](https://user-images.githubusercontent.com/234774/172643592-ec6396ed-2728-4eed-ae2b-aa5be316c95d.png)

etc

[2022-06-08 14:36] habamax commented on #172
Ah, elflord and pablo:

elflord:
![image](https://user-images.githubusercontent.com/234774/172643856-bebaf9d1-a808-4c41-822f-bdc1aa27a8ca.png)

pablo:
![image](https://user-images.githubusercontent.com/234774/172643913-c01f2754-9b75-4dde-ab9d-66fb9b3c7c76.png)

[2022-06-08 14:38] habamax commented on #172
Aha, if it is in tty (or whatever it is called in `Ctrl+Alt+F3`) it is indeed have no highlighting.

Not sure how to tackle it...

[2022-06-08 14:47] habamax commented on #172
`underline` makes it all the same color and for elflord it is the same as normal text.

We could remove it for 8c completely... @romainl what do you think?

[2022-06-08 14:54] sandwm commented on #172
Yes, my comment was about vim in a tty with t_Co=8. I made screenshots from a virtual machine (vim with `source /usr/..../syntax/hitest.vim`).

Before:
![elflord_packaged_crop](https://user-images.githubusercontent.com/11916691/172647833-616fbaf8-6d74-4d15-97c1-8355e61f2aad.png)

After:
![elflord_upstream_crop](https://user-images.githubusercontent.com/11916691/172647859-f2c9bedc-abb0-41f2-a016-c7

[2022-06-08 14:55] habamax commented on #172
@sandwm could you pls check if

* `:hi SpellRare cterm=NONE`
* `:hi SpellLocal cterm=NONE`
* `:hi SpellBad cterm=NONE`
* `:hi SpellCap cterm=NONE`

Make it properly highlighted?

[2022-06-08 14:56] habamax commented on #172
We can't probably detect if it is tty or xterm with 8c support, so if we are to remove it -> it would be for all terminals.

[2022-06-08 14:57] habamax commented on #172
And we can make it `reverse` though...

[2022-06-08 15:14] sandwm commented on #172
Yes, [no underline in tty](https://unix.stackexchange.com/questions/553227/how-to-enable-underlines-and-other-formattings-on-a-color-tty/553257#553257) (on a color display – so any display relevant here).

`cterm=reverse` works, although I think personally I would prefer just changing the color. That's more readable and a word which is supposedly spelled wrong (even if it's just a term the diction

[2022-06-08 16:35] habamax commented on #172
I will have a look into this once everything is merged in

[2022-06-11 08:36] habamax commented on #179
You can try to play with peachpuff now.

If you only going to change diff colors, have a look into

https://github.com/vim/colorschemes/blob/42b501911467f503256b949baafcadee62babd75/colortemplate/peachpuff.colortemplate#L226

You would need to replace this line with the contents of the `_diff` file, changing it specifically for peachpuff.

[2022-06-11 08:40] habamax commented on #172
I couldn't find the way in templates how to clear the default reverse, e.g. if I remove `underline` then spell highllghts are `reverse` by default (at 8c).

So I made them `reverse` explicitly.

[2022-06-11 08:54] habamax commented on #59
I would suggest to use those settings in vimrc without adding variations of default:

### default dark
[code]

### default light
[code]

[2022-06-11 08:54] #59 closed

[2022-06-11 11:40] habamax commented on #172
All of the colorschemes have 8c support now.

@romainl please check the latest darkblue and it might be a good idea to create PR against main vim repo to include them before vim9 is out

[2022-06-11 21:39] sandwm opened #193 "StatusLine (and others?) missing bold in terminal"
In legacy elflord (and probably others) it was possible to determine the currently active vim window through the bold status line. In current elflord the status line of the active window just has a blue background that is a bit lighter than the others, which isn't as easy to see.

Legacy elflord (green is default terminal fg color here):
![statusline_old](https://user-images.githubusercontent.com/

[2022-06-12 07:49] habamax commented on #193
@sandwm pls check latest master

[2022-06-12 08:13] habamax commented on #170
Bold was added

[2022-06-12 08:13] #170 closed

[2022-06-12 14:31] sandwm commented on #193
@habamax Thanks, that looks good. 👍️

[2022-06-12 14:47] habamax commented on #193
great!

[2022-06-12 14:47] #193 closed

[2022-06-12 20:13] habamax commented on #172
https://github.com/vim/vim/pull/10563

[2022-06-12 20:13] #172 closed

[2022-06-12 20:13] habamax commented on #171
https://github.com/vim/vim/pull/10563

[2022-06-12 20:13] #171 closed

[2022-06-12 20:20] habamax commented on #169
Closing this as there is a way to override colorscheme's `Normal` command documented under `:h colorscheme`

[2022-06-12 20:20] #169 closed

[2022-06-12 20:21] habamax commented on #179
Closing this, once you have anything for diff colors of peachpuff, make a PR for review/inclusion.

[2022-06-12 20:21] #179 closed

[2022-07-02 17:50] romainl opened #194 "What did we learn so far?"
Now that we have shipped the remakes it is time for the next step: define the guidelines/best practices to enforce when considering the inclusion of new colorschemes.

To ease that process I thought it would be useful to ~~grab a box of Lego, some markers and Post-it no~~ jot down what we have learned about so far about user expectations, technical restrictions, etc. And maybe even suggestions for

[2022-07-03 15:26] lifepillar commented on #194
If that can help, and although you probably already know about it, you may take a look at `:help colortemplate-best-practices`. Maybe, the kind of guidelines you have in mind are a bit more high-level than what is suggested there, but still there may be something interesting to consider.

And FYI, I still have a plan to release a v3 of Colortemplate eventually, rebuilt from scratch and simplified

[2022-07-04 15:18] habamax commented on #194
0. No settings, e.g. if anyone needs to have italic comments -- let them use Colorscheme autocommand.

1. Support GUI, 256, 16, 8 colors (+ no colors with `_tcozero`). In general it should be readable there.

2. Use color names for 16 and 8 colors

3. Do not assume terminal has black background (define `Normal` colors)

4. Typefaces should be used with caution (unless you are ok if in some cases y

[2022-07-04 15:20] habamax commented on #194
And it would be really nice to have a template for colortemplate (which we should have in the beginning :) ) to have not only uniformed colorschemes but also templates.

[2022-07-04 15:51] romainl commented on #194
I agree, providing a template with lots of comments, a bit like [RNB](https://github.com/romainl/vim-rnb/blob/master/colors/rnb.erb), would be great for bootstrapping new projects.

Or maybe that's something that should be part of Colortemplate?

[2022-07-05 17:16] lifepillar commented on #194
To add to this: `Normal` should be defined first. That should be suggested somewhere in Vim's help. It would be nice if the other highlight groups were sorted lexicographically.

Why? I think that is supported by Vim.

Bootstrapping can be done from an existing color scheme with `colortemplate#import#run()`. If you need a “meta-template”, you may start with those provided by Colortemplate in its `

[2022-07-11 16:26] EmptiedSoul opened #195 "Desert colorscheme appearance change"
# EndOfBuffer is not more color-distinguished from text.

Before (not accurate):
![Screenshot_20220711_192030](https://user-images.githubusercontent.com/65052062/178311908-413db764-56bc-4440-bb3b-90514a37d3c9.png)
Now:
![Screenshot_20220711_192046](https://user-images.githubusercontent.com/65052062/178311953-356625cd-c259-436b-afc5-5e396b9e0525.png)

[2022-07-11 16:43] EmptiedSoul commented on #195
I do *not* like this behavior but as @habamax said:

so I propose the following solution:
1. Keep desert scheme as it is and create new colorscheme resembling old desert.
**or**
2. Restore old desert and create new scheme for the current one.

[2022-07-11 19:01] romainl commented on #195
I think we are going to go with solution 0: change `NonText` in the remake to match that of the original.

[2022-07-11 19:14] romainl commented on #195
Ho crap, it looks like I forgot how to git.

Anyway, @EmptiedSoul whatdo you think of the following?

GUI:

<img width="924" alt="Capture d’écran 2022-07-11 à 21 10 50" src="https://user-images.githubusercontent.com/344335/178340578-3fdc4942-c685-47be-8d05-472f10813f06.png">

256c:

<img width="806" alt="Capture d’écran 2022-07-11 à 21 09 26" src="https://user-images.githubusercontent.com/3443

[2022-07-11 19:55] EmptiedSoul commented on #195
@romainl looks good

[2022-07-12 05:18] romainl commented on #195
@EmptiedSoul OK, now we are going to turn this into a PR on vim/vim.

Typically, updates to the runtime files are done in bulk and infrequently by Bram so you might have to wait for a while to have the new version of desert actually released.

In the mean time, you can either live with the modified file you attempted to submit earlier or add the following to your `vimrc` *before* `colorscheme dese

[2022-07-16 15:59] #195 closed

[2022-07-22 08:31] neutaaaaan commented on #8
Bumping this, as it's closely related:

I was doing some research to gather a list of candidate colorschemes for potential inclusion, based on a list I gathered from these two threads [1](https://github.com/vim/vim/issues/1665) [2](https://github.com/vim/vim/issues/4996) and a few other colorschemes that *I think* are relatively popular, and it dawned on me that all these suggestions had been made

[2022-07-22 14:01] neutaaaaan opened #197 "Colorschemes to consider for inclusion ?"
I was doing some research to gather a list of candidate colorschemes for potential inclusion, based on a list I gathered from these two threads [1](https://github.com/vim/vim/issues/1665) [2](https://github.com/vim/vim/issues/4996) and a few other colorschemes that I think are relatively popular, and it dawned on me that all these suggestions had been made years ago.

There are some unavoidable mo

[2022-07-22 14:15] romainl commented on #197
You could probably scrape a handful of r/vim threads and get a good idea of what is hot but would that be helpful?

Imagine we get gruvbox at #1, now what? The project has been on life support for many years so how do we convince the author/maintainer/ghost to rewrite it with colortemplate and, very important, without all the fancy options? Is that something we should do ourselves like for the OGs

[2022-07-22 14:54] neutaaaaan commented on #197
I never even considered giving the OG authors sole ownership of the versions supposed to be shipped with vim: I refuse to allow what we just went through to happen again.

Figure out good candidates, get a feel for the changes that will have to be made, ask the OG authors if they're ok with it.
If they aren't, move on to the next one.
If they are, and want to take care of that version, great. If 5

[2022-07-23 15:37] romainl commented on #197
I agree.

If they aren't, move on to the next one.

OK. FWIW, here is a list of popular colorschemes I put together from the linked threads and a bunch of r/vim threads from the last 4 years:

- [gruvbox](https://github.com/morhetz/gruvbox)
- [gruvbox-material](https://github.com/sainnhe/gruvbox-material)
- [seoul256](https://github.com/junegunn/seoul256.vim)
- [lucario](https://github.com/raphamo

[2022-07-24 13:09] habamax commented on #197
I would use OG names as much as possible. OFC, we should ask authors if they are ok if we include "reworked" colorscheme of their own with the same name.

[2022-07-24 14:04] neutaaaaan commented on #197
Using OG names is a bad idea, there's always going to be some deviation between the authors' repository, what we can actually provide, and what end users are actually exposed to through their distribution.

[2022-07-24 14:49] romainl commented on #197
I agree with @neutaaaaan we might use the original name only if explicitly allowed to. Our gruvbox (if any) is going to be so different from the original gruvbox that we might call it groovebox or something.

[2022-07-25 16:55] craigmac opened #198 "MacVim/GUI :terminal doesn't set Terminal background"
Initially reported [there](https://github.com/romainl/Apprentice/issues/73). I've tried several of the new ones, and they all have the same issue, the terminal background color is not set. Sometimes this looks ok, but sometimes the terminal buffer becomes unreadable (blue.vim for instance).

[2022-07-25 17:10] craigmac commented on #194
I'd reword that as "Always be explicit," two of the bugs I've reported now have been because something that could be set like Terminal in the latest one, was left cleared , and the first one with TabLine was the same. Don't trust any "fallthrough" behaviour because there's so many variations underneath.

[2022-07-25 18:19] habamax commented on #194
I take it back

[2022-07-25 18:22] habamax commented on #198
Try to set colorscheme in gvimrc

I think 5he issue is with links.
Terminal is explicitly linked to normal but it is reset by GUI for some reason. At least I've seen 5his in windows gvim

[2022-07-25 18:51] craigmac commented on #198
Yes, definitely seems to be because of the GUI resets that are done, as this only happens in the GUI (at least in MacVim). It happens for all the colorschemes from the new batch that I've tried. The fix is explicitly setting the guibg to the intended color in my vimrc with:

[code]

I don't know what the solution would be to fix it in all the colorschemes - maybe setting some kind of onetime autoc

[2022-07-25 18:54] habamax commented on #198
A workaround would be to explicitly set all hl groups without links, but I would fill a bug report against vim.

[2022-07-25 18:57] craigmac commented on #198
I did [here](https://github.com/vim/vim/issues/10785), should I reopen or create a new one?

[2022-07-25 18:58] romainl commented on #198
Maybe MacVim, not Vim. I use MacVim too and I don't have those issues at all, maybe because I quickly stopped using a `gvimrc` after all the ancient troubles with colorschemes in MacVim.

[2022-07-25 18:59] habamax commented on #198
It is a bit different -- the issue is about links that are being reset/cleared by gui.

[2022-07-25 19:00] habamax commented on #198
The issue with gvim is that if you have set colorscheme in .vimrc, links are cleared, if in .gvimrc -- they are ok.

[2022-07-25 19:06] romainl commented on #198
And yet here it works fine,

- without a `gvimrc`,
- with `colorscheme apprentice` in `vimrc`.

[2022-07-25 19:09] habamax commented on #198
Not sure about macvim, in gvim:

colo desert in vimfiles/vimrc:
![image](https://user-images.githubusercontent.com/234774/180855545-bbc3e2c1-1210-4595-8e91-c4e59bee7bc0.png)

colo desert in vimfiles/gvimrc:
![image](https://user-images.githubusercontent.com/234774/180855656-adc08112-d7f6-4c68-981f-080414e40b1d.png)

[2022-07-25 19:14] romainl commented on #198
Hmm OK, I can finally reproduce the bug.

It's definitely Vim.

[2022-07-26 07:15] habamax commented on #198
@craigmac @romainl I have created a separate issue for this in vim.

[2022-07-26 07:29] habamax commented on #198
@romainl, @neutaaaaan  I've found the root cause in our colorschemes.

@romainl if you strip down your apprentice (and remade colorschemes) to this:

[code]

You will see that `hi Terminal term=NONE` -- and this exact line breaks terminal background for us...

[2022-07-26 07:35] habamax commented on #198
@lifepillar, is it possible to have t_Co check with explicit `==` ?

[2022-07-26 07:36] habamax commented on #198
On the other hand, we can just remove Terminal from `_tcozero`, right?

[2022-07-26 07:50] habamax commented on #198
Quick test -- removing `Terminal` from `_tcozero` solves the issue for me.

[2022-07-26 08:06] romainl commented on #198
Oh god, I stared at that

    if s:t_Co >= 0
      hi Terminal term=NONE
      unlet s:t_Co
      finish
    endif

for a while assuming that there were other `finish` above but there weren't.

Options:

1. remove `_tcozero`,
2. ask @lifepillar for a different check.

[2022-07-26 08:10] habamax commented on #198
I would remove `_tcozero` as the usecase most users will probably never meet. And if they are in this situation, let them use default vim experience.

[2022-07-26 08:43] habamax commented on #198
let me actually do this, if you don't mind

[2022-07-26 08:46] neutaaaaan commented on #198
I'd much rather find a proper fix for that, as [this is the noisy mess](https://user-images.githubusercontent.com/35198994/180962998-078839f8-4dba-488e-9619-1b5b5a1e8b20.png) that `default` cakes on the screen.

*"Most users won't ever use it"* is not a rationale, it's a cop-out. I could say that about half of what is in this repository.

[2022-07-26 08:53] habamax commented on #198
@neutaaaaan for some reason, your quiet.vim doesn't define it... :)

Anyway, a proper fix would take quite a time if at all -- it might be considered as not a bug in vim repo (`term=NONE` clears terminal link).

So we have following options to workaround it:
1. remove `_tcozero` until fix would be in vim
2. remove only `Terminal` from `_tcozero`
3. ask @lifepillar to add explicit checks of `t_Co`.

[2022-07-26 10:16] habamax commented on #198
and 2. is not an option actually, as it breaks other links too (e.g. EndOfBuffer).

[2022-07-26 10:27] habamax commented on #198
so we have only those options (before "proper" fix):

* remove `_tcozero`
* colortemplate to explicitly check for `t_Co == 0`

[2022-07-26 12:27] habamax commented on #198
So I went "fixing colortemlate" route, added strict comparisson if t_Co is 0.

It works for me so far...

[2022-07-26 13:03] habamax commented on #198
The issue might be easily fixed by adjusting

Following t_Co detection from
[code]

to
[code]

Basically, when "gui_running" &t_Co is undefined and we set `s:t_Co` to `1`. Which is then always matches with `s:t_Co >= 0`

[2022-07-26 13:04] habamax commented on #198
All colorschemes were regenerated, @craigmac could you check it too (in PR here)?

[2022-07-28 14:18] #198 closed

[2022-08-03 04:54] habamax opened #200 "quiet light bg (gui/256) is quite different"
![image](https://user-images.githubusercontent.com/234774/182526667-b8d633fe-bb1f-4a07-b3f9-b8f905117780.png)

Not sure if this is terminal issue though.

there is no `#d7d7d7` in 256c according to https://upload.wikimedia.org/wikipedia/commons/1/15/Xterm_256color_chart.svg

closest is `188` which is `#dfdfdf` and it is still in GUI looks different to my terminal

[2022-08-03 05:08] habamax commented on #200
I made it use `#dadada/253` for now, let me know if you have better ideas

![image](https://user-images.githubusercontent.com/234774/182528544-9e8328e3-3477-4428-a058-01e1a25a4739.png)

[2022-08-03 07:17] habamax commented on #200
I am not sure if this is windows, but `188` is broken

![image](https://user-images.githubusercontent.com/234774/182547570-09e1a9b8-965b-4f20-a899-7a25d4f261b0.png)

[2022-08-03 07:26] neutaaaaan commented on #200
![image](https://user-images.githubusercontent.com/35198994/182547441-a3a3a48b-6bb3-43ec-85af-fafe112834fe.png)

Alacritty is, as usual, the problem.
Color 188 in xterm is #d7d7d7.

The difference between #d7d7d7 and #dadada is [minute to say the least](https://user-images.githubusercontent.com/35198994/182548277-1d905fcf-3440-4c40-8b9a-da6f47c5b6de.png) so I'm going to test-drive the slightly lig

[2022-08-03 07:31] habamax commented on #200
Looks like it is not the alacritty, but the windows has the wrong `188` as in cmd.exe I can see the same pinkish colors.

I am okay with `188` as I don't use windows cmd.exe with vim but it is good to have somewhat similar colors across different environments.

I would also agree on what is correct xterm256 colors are.

Initially I have used https://www.ditig.com/256-colors-cheat-sheet (this what

[2022-08-03 07:36] neutaaaaan commented on #200
The 3rd block is wrong, every instance of `df` should be `d7`.

[2022-08-03 07:52] neutaaaaan commented on #200
The ansi colors in both charts also seem wrong to me, what I'm seeing  in xterm after a `xrdb -remove` is a lot lighter than that.

[2022-08-03 08:10] habamax commented on #200
I think we should agree on what https://www.ditig.com/256-colors-cheat-sheet has.

Colortemplate uses the same:

https://github.com/lifepillar/vim-colortemplate/blob/848134abeab671a5671702237bd74eb49c411f88/autoload/colortemplate/colorspace.vim#L588-L612

[2022-08-03 13:13] habamax commented on #200
So we should use the source where `d7` is used instead of `df`.

[2022-08-03 13:17] neutaaaaan commented on #200
For the sake of better documenting the issue, [here's the original chart the `.svg` #replaced about 10 years ago](https://upload.wikimedia.org/wikipedia/commons/9/95/Xterm_color_chart.png).
This one has been verified against the `xterm` source code and *it is correct*.

So now that we've opened this can of worms, should we try getting the file on wikipedia fixed, as well as whatever is going on in

[2022-08-03 13:30] habamax commented on #200
I have reverted bg from `#dadada` to `#d7d7d7` as was designed (other colors depend on it).

PS, looks like windows has issue with `188`:
![image](https://user-images.githubusercontent.com/234774/182620093-c0e1ac69-95ce-409e-907e-9f5bceacb0ad.png)

[2022-08-04 03:22] #200 closed

[2022-08-04 08:23] habamax opened #201 "review g:terminal_ansi_colors colors"
Some of the colorschemes with non black/white backgrounds may have issues with terminal colors.

Here for example blue colorscheme where directories are invisible (in my bash, `blue` color is used to highlight directories, for others it might be used for different important things).
![image](https://user-images.githubusercontent.com/234774/182799029-fa15fdd1-eca1-470d-83d2-9223a8af1519.png)

What

[2022-08-04 08:40] habamax commented on #200
Turned out only `blue` had a single color with `df`, others are ok. Blue is fixed.

[2022-08-04 08:45] habamax commented on #201
I would also add standard xterm colors for colorschemes where we presumably used it.

[code]

[2022-08-04 11:21] neutaaaaan opened #202 "set t_Co=0 ignores _tcozero"
If `TERM=vt100`, vim behaves as intended, and uses `_tcozero`. The actual value of `t_Co` doesn't matter.
If you manually switch from any `t_Co` value to zero, everything breaks, and vim goes back to the noisy mess we were trying to avoid initially.

This feels like one of the one of those vim quirks we can't actually fix ourselves, but I don't remember having that problem before.

[2022-08-05 02:57] habamax commented on #202
This is how colortemplate work. We can't define both term and cterm.

[2022-08-05 05:29] habamax commented on #201
I have put "proper" xterm colors into `blue` and now terminal looks more readable for me:

[code]

with `set tgc`
![image](https://user-images.githubusercontent.com/234774/183007844-68dc90af-684c-4d67-9c33-c88f8da963ce.png)

[2022-08-05 06:09] habamax commented on #202
What I mean, once you have `set t_Co=0` you should re-do `colorscheme whatever`

[2022-08-05 06:36] neutaaaaan commented on #202
This doesn't work with any of the colorschemes that include `_tcozero`. It probably has something to do with the recent changes, because it works in a version of `Iosvkem` I compiled months ago.

[2022-08-05 06:45] habamax commented on #202
and you're right..

[2022-08-05 06:51] habamax commented on #202
I can make it work with following steps:

1. colo blue
2. set t_Co=0
3. syn off
4. set t_Co=0
5. syn on

For some reason t_Co is undefined first time I do it... not sure

[2022-08-05 07:03] habamax commented on #202
if you do `vim -Nu NONE` and then
1. `:set t_Co=0`
2. `:set t_Co?`

it would echo `t_Co=`

if you repeat `:set t_Co=0` then it would be set...

so "to make it work" one should do following:

1. `vim -Nu NONE`
2. `:set t_Co=0`
3. `:set t_Co=0`
4. `:syn on`
5. `:colo blue`

I don't know if we can capture that empty t_Co and should we do it at all provided `TERM=vt100` works.

[2022-08-05 07:13] habamax commented on #202
[code]

works for me, but I don't know if it would be ok, and again, not sure if @lifepillar would merge another PR on this matter :)

[2022-08-05 14:09] lifepillar commented on #202
I can't experiment on these settings right now. But if you think something should be changed in the way the color schemes are built, please go ahead and open a PR, or even only an issue!

I am open to discuss a different structure for the generated code: at this point (and long before this point), you have had much more experience than me.

[2022-08-07 11:12] habamax commented on #202
I wrote in commit message: It should fix ...
And github closed this one :)

[2022-08-08 13:54] #202 closed

[2022-08-09 06:20] habamax commented on #201
PR is merged for blue.

For others, let people create separate issues.

[2022-08-09 06:20] #201 closed

[2022-08-09 07:20] habamax commented on #90
I think whatever colortemplate would eventually support.

[2022-08-09 07:20] #90 closed

[2022-08-09 07:25] habamax commented on #81
I wouldn't touch default.vim at all. Not brave enough :)

[2022-08-09 07:27] habamax commented on #8
Current approach is:

1. me/@romainl create PR against current vim
2. Bram updates runtime based on that PR

[2022-08-09 07:27] #8 closed

[2022-08-10 07:38] lifepillar commented on #81
What do you mean by “remaking default”? Vim's default color scheme is hard-coded, and replacing it is not viable, I think. Do you mean making a new color scheme which looks like default?

[2022-08-10 07:47] lifepillar commented on #81
Maybe @romainl, who has opened the issue, may elaborate on what would be done: a “default9.vim” color scheme?

Yes, that is what I meant with “it is not viable”.

[2022-08-10 09:18] romainl commented on #81
`default` is spread over:

1. `$VIMRUNTIME/colors/default.vim`, which doesn't do much.

2. `$VIMRUNTIME/syntax/syncolor.vim`, which defines syntax-related highlight groups for dark and light `background`.

   Some parts of this file could be improved, like `Brown` or the incoherent use of names and hex for `gui*g` or the difference in some groups between `gui*g` and `cterm*g`.

3. `src/highlight.c

[2022-08-10 15:32] neutaaaaan commented on #81
This exists because I extracted the values from the source code and created a template back when I was working on `ron` or `koehler`. It just made more sense to figure out the underlying behaviour once and for all, then implement the changes.
That template is probably buried somewhere in another issue closed aeons ago.

We were young and naive then.

As with many things in vim, I don't understand

[2022-08-10 19:40] lifepillar commented on #81
So, maybe the first thing is to check with Bram why things are the way they are and if it is feasible to make the default color scheme a “normal” color scheme (my wild guess: probably it isn't).

Then, I sympathize with @neutaaaaan's sentiment about changing something that is really fossilized Vim, even if it would piss off at worst a (vocal) minority. Cosmetic code changes that improve consistenc

[2022-08-10 19:45] lifepillar commented on #81
In the case of “fixing” default colors, you would actually achieve the opposite. Nonetheless, I can imagine someone complaining, say, that «now the default background is always white» (because `Normal` is set), while «before it changed according to my environment».

[2022-08-10 19:52] neutaaaaan commented on #81
@lifepillar I was specifically thinking about distro-specific "fixes" through a systemwide `.vimrc`.

[2022-08-11 06:25] romainl commented on #81
The reason why some of `default` is hardcoded is because Vim can be distributed without a runtime and, in such cases, it must still be able to do some basic highlighting (visual, status line, etc.). The reason why the rest is in `syncolor.vim` is very likely to allow the `:syntax on` switch. That separation has been the cause of many issues in the past, where people build their Vim incorrectly and

[2022-08-13 19:01] valacar opened #205 "check_colors.vim is broken"
I'm getting an error message when sourcing `check_colors.vim` in Vim 9.0.0199:

[code]

I started Vim with:

`vim --clean`

then I did:

[code]

It says the error is on line 8, but I sourced the script with `:debug` and the error pops up after executing [line 191](https://github.com/vim/colorschemes/blob/857d368acef50b764d45a9cc0970e319e80d1b0c/colors/tools/check_colors.vim#L191) (which is the 8th

[2022-08-14 05:10] #205 closed

[2022-08-14 05:11] habamax commented on #205
Thanks, should be fixed now.

[2022-08-14 12:04] habamax opened #206 "quiet, remove unneeded backgrounds"
![image](https://user-images.githubusercontent.com/234774/184535864-da6775bb-19a8-4be3-b0c5-71dc06579406.png)

Here I can see `Comment` and `LineNr`

[2022-08-14 12:07] habamax commented on #206
here they are set to `NONE` with dark bg:

![image](https://user-images.githubusercontent.com/234774/184535986-9dd4005b-36cb-445b-9ad3-a67f6605d081.png)

Cursorline is unreadable, but well, Pmenu highlight this different to normal is expected to behave that way.

[2022-08-14 12:18] #206 closed

[2022-08-15 12:01] protegh opened #207 "Don't like the new colors of scheme slate and want the old colors back."
How can I get back exactly the colors of the vim82 color scheme slate?

[2022-08-15 12:13] habamax commented on #207
Depends on what you want exactly:

1. old colorscheme for yourself -> it is in this repo, download from https://github.com/vim/colorschemes/blob/master/legacy_colors/slate.vim
2. old colorscheme to replace back new colorscheme -> probably will not happen
3. make new colorscheme exactly the same as old colorscheme

If you are into pt 3. we can try to do it if we agree on what is "exactly the same".

[2022-08-15 12:17] habamax commented on #207
having said that -- there might be bugs in porting the colorschemes, so if you have found any, please specify what exactly is wrong with new slate.

[2022-08-15 12:53] protegh commented on #207
For the moment i'll use your point 1. But how long will the legacy color schmes work with vim9, vim10, ...? So point 3 would definitely be nice to have.

What's wrong with ne slate?
E.g. when opening a bash script with syntax highlighting on all the colors are different:
- background was black (as background of my terminal) and is now a dark grey
- text in comments was yellow and is a bright grey

[2022-08-15 13:09] habamax commented on #207
Please specify environment too, I guess this is not gvim.

- What is the `t_Co`?
- What is the `$TERM` and terminal emulator?

And if you show the screenshots too, would be very helpful

[2022-08-15 13:28] protegh commented on #207
[code]
Terminal emulator is xfce4-terminal-1.0.4 but I don't know where to get `t_Co`.

Colors of the new slate scheme:
![slate-new](https://user-images.githubusercontent.com/11856267/184643946-d68ec70a-a696-4d99-a9f0-12a8cb9eb905.png)

Colors of the lagcy slate scheme:
![slate-legacy](https://user-images.githubusercontent.com/11856267/184643943-d08e0ef1-213b-4741-a834-bc8a87a18dbd.png)

[2022-08-15 13:31] habamax commented on #207
Thank you!

In vim `:set t_Co?` should show number of colors available for vim.

[2022-08-15 13:32] habamax commented on #207
Also try to to do `:set t_Co=16` and compare results -- it would use current palette of your terminal as legacy slate did.

[2022-08-15 13:32] protegh commented on #207
`:set t_Co?` gives `t_Co=256`

[2022-08-15 13:35] protegh commented on #207
Colors with `:set t_Co=16`:
![slate-t_Co16](https://user-images.githubusercontent.com/11856267/184645350-c5692b36-662b-4661-88bd-e4d73f7f62cb.png)

[2022-08-15 13:43] habamax commented on #207
Could you also paste here the bash script to check against?

So basically, with 256 colors you see slate in "all its glory", using all available colors to mimic what it offers to gui users.

With 16 colors (`t_Co=16`) you should be able to see almost the legacy slate, apparently here are the "bugs".

Note, comments were different for gui and tui in slate, we were trying to make them the same for a

[2022-08-15 13:47] protegh commented on #207
[script.txt](https://github.com/vim/colorschemes/files/9337552/script.txt)

[2022-08-15 13:52] protegh commented on #207
But as I never used gvim but only vim in terminal isn't then the only "bug" (from my perspective) that you decided to use the gui colors from now on instead of my beloved tui colors?

[2022-08-15 13:58] habamax commented on #207
And in my terminal legacy slate is unreadable and that was the main usability issue of all legacy colorschemes. They assume terminal is dark, probably even black.
In my other terminal it is readable but has completely different colors that you have on your screenshot.

[2022-08-15 14:04] habamax commented on #207
As I see it now:

1. 256 colors and GUI are ok
2. 16 and 8 colors are not ok

Once 16 and 8 colors are fixed (in some way), users should be able to `set t_Co=16` to get "legacy vibes" of slate.

Still not sure about comments, @romainl, I think we can make them yellow for 16/8, right?

[2022-08-15 14:05] protegh commented on #207
So maybe the colors also depend on the color style of the desktop? It's xfce4 with Adwaita Style in my case.

[2022-08-15 14:06] habamax commented on #207
For legacy slate and for new slate with `t_Co=16` colors depend on terminal palette, which is different for different terminals.

[2022-08-15 16:05] habamax commented on #207
So this is OG GUI vs TUI slate:

![image](https://user-images.githubusercontent.com/234774/184671100-f1baffea-4c81-4eb6-9ed8-a738f2bdb712.png)

[2022-08-15 16:28] habamax commented on #207
Aligning `t_Co=8`:

![image](https://user-images.githubusercontent.com/234774/184675459-fb0c5543-23da-4f47-a9f9-a67095d486f0.png)

I thing we need to make comment distinct here, bold?

[2022-08-15 16:42] habamax commented on #207
Aligning `t_Co=16`, left is remake, right is OG:

![image](https://user-images.githubusercontent.com/234774/184677918-b8bdafc6-40e0-4b70-bcb2-386f2bfebcc2.png)

[2022-08-15 17:03] habamax commented on #207
for 8c it is "impossible" to align as OG slate uses numbers (11 for comment) and we use colornames (yellow for comment).

With `t_Co=8` 11 is bright yellow, `yellow` is dark yellow. Anyway, I made them yellow bold:

left is remake, right is OG (t_Co=8)
![image](https://user-images.githubusercontent.com/234774/184681293-04c9afe6-056e-482f-a9ec-181eeb2e72b6.png)

[2022-08-15 17:08] habamax commented on #207
@protegh could you pls check slate from PR with `set t_Co=16`?

[2022-08-15 17:09] habamax commented on #207
Now I stop here as it should be decided who we are going to upset, ppl who used to use GUI slate or ppl who used to use TUI slate...

[2022-08-15 18:21] romainl commented on #207
@habamax we already made that decision: the GUI is the single source of truth.

[2022-08-16 07:46] protegh commented on #207
Colors changed but not even near OG slate:
![slatePR](https://user-images.githubusercontent.com/11856267/184825359-774462cd-cf63-499e-a895-c12a7ee74e69.png)

I downloaded https://raw.githubusercontent.com/vim/colorschemes/635f5ebe86d5ec04979ccb9f70752984a1601de0/colors/slate.vim put it in my `~/.vim/colors/` as `slatePR.vim`, opened the file, did `:colo slatePR` and then `:set t_Co=16`.

[2022-08-16 07:53] habamax commented on #207
It looks like not updated slate for me, this is what I see for `t_Co=16`:

![image](https://user-images.githubusercontent.com/234774/184827229-4a726aaa-966c-42fb-808b-c7f95a49b631.png)

[2022-08-16 07:55] habamax commented on #207
@protegh after `set t_Co=16` re-run `:colo slatePR`

[2022-08-16 08:06] protegh commented on #207
Oh, I thought tis would be commutative.

Now it's better but not exactly the same as yours (could this be caused by the different displays we use? Something like color temperature?):
![slatePR](https://user-images.githubusercontent.com/11856267/184828496-849510f0-c1e5-4c09-8704-e21e946ec4d7.png)

But didn't you say you "made them yellow bold" about comments? They are still grey.

[2022-08-16 08:10] habamax commented on #207
It would work without re running slate once it is pushed into vim.

No it uses current terminal palette, mine is different to yours.

I did, but the general approach is to use GUI colors if those are available. For slate it is gray.

[2022-08-16 08:29] protegh commented on #207
Is there a way I could overwrite this to get yellow comments?

[2022-08-16 08:30] habamax commented on #207
As stated in the vim help (`:h colorscheme` then scroll down a bit):

[code]

[2022-08-16 08:37] lifepillar commented on #207
I agree that using GUI colors as the only reliable source of truth is *the* right choice, short of asking original authors to provide how they meant their color schemes to look like. For what we know, slate may use `ctermfg=11` just because in its author's environment that happened to look grayish. So, (typically) yellow comments may as well be an accident.

If one really likes the yellow comments

[2022-08-16 09:32] protegh commented on #207
Thanks for all your effort. As I learned now how to override the colorscheme settings I would suggest that you define the slate colors as you think and I then do some overrides to get my familiar colors.

[2022-08-16 09:52] #207 closed

[2022-08-16 15:42] lifepillar commented on #194
Other guideline/best practice (or, even better, something to be enforced) for future color schemes: set minimum threshold for acceptable contrast, at least for main fg/bg colors (`Normal`). Unless low-contrast color schemes are considered acceptable, of course.

I would also encourage/enforce people to limit the color difference between the GUI and (xterm) terminal values (the “delta” value provid

[2022-08-18 12:31] michael-o commented on #207
Will happily test on FreeBSD and HP-UX tomorrow.

[2022-08-19 08:08] michael-o commented on #207
Tried the updated slate on HP-UX and FreeBSD. It looks much better now, but the comment is still pale/dark gray on black which is hard to read:
![grafik](https://user-images.githubusercontent.com/573017/185574003-20cb8f3c-cb70-4a67-9901-96831f2a96cb.png)

[2022-08-19 10:02] romainl commented on #207
We already went through this a few times…

- We base our remakes on the GUI specs if they exist.
- TUI slate is based on GUI slate.
- Comments are gray in GUI slate therefore they are gray in TUI slate.
- In 16 colors, Vim colorschemes use the user-customisable palette of the terminal emulator.
- Being user-customisable and having different defaults across terminal emulators, the palette of the te

[2022-08-19 10:43] michael-o commented on #207
I accept that especially because you took the time to explain everything in detail!

[2022-08-19 12:47] romainl commented on #197
If we can't get all or most of the most popular third-party colorschemes, maybe we can try to identify trends like "cold", "warm", "hearthy", "two tones", etc and address them?

Like… nord, iceberg, and pencil are all examples of what I would call a "cold" trend that we could ride by creating `colors/icicles.vim`, an archetypal "cold" colorscheme with blues and cyans and whites and grays, effectiv

[2022-08-19 15:57] habamax commented on #197
What are most popular in the bucket?

- Cold: Nord?
- Warm: Gruvbox?
- Hearthy: ?
- Two tones: ?

[2022-08-20 07:43] romainl commented on #197
I would place dracula in a broad "neon" category, with tokyonight and onedark.

The most popular "Hearthy" one would be seoul256, I guess. Not sure about "two tones". Those were suggestions anyway, if we can come up with better categorization methods let's do it.

[2022-08-21 17:20] ppseprus commented on #198
So.. will a fix be eventually shipped w/ some later macos software update? Does anyone know? 🤔

[2022-08-21 21:39] romainl commented on #198
@ppseprus a fix of what, exactly?

The colorschemes we are working on here—and the fixes we may apply to them—are all meant to be part of Vim's main distribution at some point. Vim's author does runtime updates from time to time so it is impossible to give you an estimation. That said, I wouldn't count on Apple to ship a new Vim build as part of a software update.

On macOS, MacVim is your best be

[2022-08-22 10:31] ppseprus commented on #198
Hm 🤔 I might have misunderstood this thread.

I was searching for an issue that appeared for me with `macOS 12.5`.
The `colorscheme slate` together with `syntax on` started displaying things differently. I was searching for this on macos blogs and got dropped in, but maybe I somehow mixed up the threads.

My `vim` version is as follows
[code]

Unfortunately, I dont have screenshots from the previo

[2022-08-22 10:32] ppseprus commented on #198
[This](https://gitlab.com/gnachman/iterm2/-/issues/10525) was the thread that landed me here, I believe

[2022-08-22 11:03] neutaaaaan commented on #198
@ppseprus [Here's the long version](https://github.com/vim/vim/issues/10449)

**tl;dr** The default colorschemes were shoddily put together to say the least, and users got used to the particular way they broke on their systems. `Slate` was one of the worst of the bunch. By making it more consistent across environments, we broke user expectations. If you _really, really, really_ want the old behavi

[2022-08-22 11:05] ppseprus commented on #198
I understand now! If you say this was intentional, I will find a way to adjust my configurations! 😉
Thanks @neutaaaaan for clearing this up in my head! 🙇

[2022-08-23 12:06] ychin opened #210 "New colorschemes' t_Co detection is subtly broken for GVim"
#204 added new `t_Co` detection logic, and it seems to be subtly broken for Gvim. In GVim, `t_Co` only gets set after GUI initialization (done in https://github.com/vim/vim/commit/acc770a10f6510), so these colorschemes would only have proper behavior if you do something like `color desert` in the gvimrc instead of vimrc. If you just set the colorscheme only at the vimrc, `t_Co` would either be wha

[2022-08-23 12:17] habamax commented on #210
@lifepillar, it turned out not the bullet proof, I will try to come up with a better detection.

@ychin thanks for reporting.

Could you please change `desert` colorscheme, replacing `t_Co` detection with:

[code]

[2022-08-23 12:22] habamax commented on #210
The next also works for me:

[code]

[2022-08-23 13:18] habamax commented on #210
Having `colorscheme desert` in `vimrc`...

# variant 1

[code]

- GUI -- works
- termguicolors -- works
- 256 -- works
- 16 -- works
- 8 -- works
- 0 -- works

Fails if you add `set t_Co=0` before `colorscheme desert` -- endofbuffer is cleared and terminal is cleared.

# variant 2
[code]

- GUI -- works
- termguicolors -- works
- 256 -- works
- 16 -- works
- 8 -- works
- 0 -- works

Survives `set

[2022-08-23 21:32] ychin commented on #210
@habamax The new `gui_running` check works for me and it looks correct now.

Just an aside, I'm not really up to date with the discussions here but what does `set t_Co=0` accomplish? That should only matter for terminal Vim right (for dealing with bad terminal detection)? For GUI t_Co should always be 16 million colors and the user can always simply disable syntax highlighting or color schemes.

[2022-08-24 05:00] habamax commented on #210
It makes no sense indeed, but if you set it to 0 without gui check, it would softly break colorscheme if `let s:t_Co = exists('&t_Co') ? (&t_Co ?? -1) : -1` would be used as t_Co detection.

[2022-08-24 05:42] habamax commented on #210
I mean, if it is possible to set and break, somebody would set and break it :)

[2022-08-25 08:16] #210 closed

[2022-08-28 11:36] habamax opened #212 "Add MessageWindow & PopupNotification highlights"
For when `set cmdheight=0`.

See https://github.com/vim/vim/issues/11001

[2022-08-28 11:38] habamax commented on #212
And it is not defined by default it looks like:
![image](https://user-images.githubusercontent.com/234774/187072231-ead5ae9d-c3c0-4f16-aa46-5a352d5a0d02.png)

[2022-08-28 14:02] brammool commented on #212
When MessageWindow is not set then WarningMsg is used.  Good enough for fallback, but it's probably better that a colorscheme defines MessageWindow.

[2022-08-28 18:05] habamax commented on #212
Thank you, Bram. We will define it for all colorschemes here. Plus `PopupNotification`.

[2022-08-28 18:05] habamax opened #213 "Review WarningMsg color"
In `blue` it is poorly readable, for example.

[2022-08-31 16:27] habamax commented on #212
Closing, as feature has been removed.

[2022-08-31 16:37] #213 closed

[2022-09-01 15:23] habamax commented on #212
Actually, there is still `:echowindow` which uses `MessageWindow` highlight group.

[2022-09-02 06:58] habamax commented on #212
For all colorschemes:

- `MessageWindow` is linked to `Pmenu`
- `PopupNotification` is linked to `Todo`

[2022-09-02 06:58] #212 closed

[2022-09-30 06:34] romainl opened #216 "We need to talk about desert"
This is the original desert in the MacVim GUI:

<img width="1075" alt="Capture d’écran 2022-09-30 à 08 22 39" src="https://user-images.githubusercontent.com/344335/193204134-759ad0f1-a278-4666-a575-2d9296ce9308.png">

    $ vim --clean +so\ /path/to/vim-colorschemes/legacy_colors/desert.vim -g

And this is the remake in the MacVim GUI:

<img width="1075" alt="Capture d’écran 2022-09-30 à 08 25

[2022-09-30 06:39] habamax commented on #216
This is the same issue @neutaaaaan was about in https://github.com/vim/vim/issues/11177

As of now only 2 terminals are known to be affected, urxvt and Terminal.app

Not sure if this is vim or terminal issue.

PS, we can workaround this in colorschemes, but not sure if we should.

[2022-09-30 06:41] habamax commented on #216
Well, I am wrong, this is a different issue. And affects all terminals.

[2022-11-17 13:24] roel-v opened #220 "In some circumstances, the search hit under the cursor has wrong CurSearch set"
Followup from https://stackoverflow.com/questions/74473619/vim-search-no-longer-highlights-word-under-cursor .

Basically, in vim9 with the darkblue colorscheme (although the same happens with blue, desert and koehler - haven't tried others but I think it's universal), when hlsearch is set, the search hit under the cursor isn't highlighted. This is because CurSearch is set to term=reverse, instead

[2022-11-17 13:33] habamax commented on #220
What is the vim version?
`:version` in vim should show smth like:

[code]

[2022-11-17 13:35] romainl commented on #220
FWIW, `term=<any value>` is not supposed to have any effect in GUI Vim.

[2022-11-17 14:06] roel-v commented on #220
When I start gvim (with my regular vimrc) the value you requested is [{'id': 8, 'name': 'CurSearch', 'term': {'reverse': v:true}}] . Even when the first 3 lines of my vimrc are

colo darkblue
set hlsearch
finish

In both cases, if I do :colo darkblue, manually after startup, it becomes [{'id': 8, 'ctermfg': '123', 'name': 'CurSearch', 'term': {'reverse': v:true}, 'ctermbg': '27', 'guibg': '#0030ff

[2022-11-17 14:26] habamax commented on #220
and runing `gvim -Nu NONE +"colo darkblue"` shows CurSearch linked to Search:
![image](https://user-images.githubusercontent.com/234774/202472344-ae6b9709-e70c-477f-a03d-19d1ce4e8ca4.png)

[2022-11-17 14:39] roel-v commented on #220
Yes, that's what I get too (sorry if my earlier post was unclear). When I start gvim without loading vimrc, then manually load colo darkblue, it works as expected.

[2022-11-17 14:44] habamax commented on #220
It is already upstream for a month or two.

[2022-11-17 14:47] habamax commented on #220
Closing as this is fixed in recent vim versions.

[2022-11-17 14:47] #220 closed

[2022-11-17 14:48] habamax commented on #220
@roel-v you can grab latest vim for windows here: https://github.com/vim/vim-win32-installer/releases

[2022-11-17 15:23] roel-v commented on #220
Oh OK, thank you both for the time you spend on this. It didn't even occur to me that this could be an issue that would be fixed in a newer release.

[2022-11-20 00:56] zewpo opened #221 "Instructions for new contributors? Make it easy to contribute."
By the way, great project.   The readme defines some excellent goals.

I'm thinking that there are all sorts of users who can create great colorschemes, but they might not otherwise be well versed in software delivery pipelines or the vim runtime.   It would be good if we could make it easy, while still guiding them to do it properly.

eg.  How do I create a new colorscheme?
What is step 1.  2...

[2022-11-20 09:14] romainl commented on #221
Hello and thank you for your interest.

In a nutshell…

This repo is primarily a clearinghouse for colorschemes distributed *with* Vim but it also aims at improving and standardizing the tooling and process of authoring colorschemes in general. Said another way, we are trying to make sure that the colorschemes distributed with Vim are the gold standard of colorschemes **from a technical point of v

[2022-11-20 09:46] zewpo commented on #221
Thanks @romainl

Yes, that's the type of information that I imagine should be written in the main readme.  Or at least easy to find for new contributors.   Not necessarily detailed, but a general overview is helpful.

I do appreciate that there are various different use cases and scenarios, and I recognise that your primary goal is to revitalise the colorschemes that go with the core vim distribut

[2022-11-20 09:52] romainl commented on #221
A `CONTRIBUTING` file at the root of the repo, eventually mentioned in the `README`, seems to be the best place for this.